.details{
  padding: 20px 0;
  background: url(../images/bg.gif) top left repeat;

  #breadcrumb{
    border-bottom: 1px dotted #ccc;
  }

  #left {
    width: 710px;
    float: left;
    display: inline;
    margin-left: 0;
  }

  #right {
    width: 222px;
    float: right;
    display: inline;
    margin-right: 0px;
    .mota {
      margin-bottom:20px;
      background: #fbfbfb url('../images/right-bg-chitiet.png') no-repeat bottom center;
      h3 {
        background-color: #034ca3;
        line-height: 28px;
        color: #fff;
        padding-left: 10px;
        font-weight: bold; 
      } 
    }

    .list-mota {
      padding: 10px 15px 25px;
      color: #034ca3;
      font-weight: bold;
      line-height: 35px;
      li {
        background: url('../images/line-right-chitiet.png') bottom center repeat-x;
        ul {
          padding-left: 10px;
          li {
            background: url('../images/bullet2.png') no-repeat left 11px;
            padding-left: 18px;
            line-height: 30px;
          }
        }
      }
      a {
        font-weight: normal;
      }
    }
  }

  h2{
    font-size: 18px;
    color: $blue;
    border-bottom: 1px dotted #ccc;
    border-top: 1px dotted #ccc;
    margin: 1px 0;
    height: 35px;
    line-height: 35px;
  }

  .contents{
    @include clearfix;
    border-top: 1px dotted #ccc;
  }

  .desc{
    margin: 15px 0;
  }
  .views {
    li {
      height:20px;
      line-height:20px;
    }
  }
  .toolbar{
    @include clearfix;
    ul{
      @include horizontal-list(1px);
      @include inline-block;
      margin-right: 0px;
    }
    .luu{
      @include buttonA04;
    }
    .sendmail{
      @include buttonA03;
    }
    ul.pagination{
      margin: 5px 0 7px;
      @include float-right;
      li{
        @include buttonA07;
        a{
        }
      }
    }
  }
  table{
    table-layout: fixed;
    width: 710px;
    th{
      padding: 4px 2px;
      background-color: #034ca3;
      font-weight: bold;
      color: #fff;
    }
    table{
      width: 708px;
    }
    td {
      padding: 4px 2px;
      background-color: #034ca3;
    }
    .odd td{
      background-color:#f6f4f8;
      border-bottom: 1px solid #dbe8f7;
    }
    .even td{
      background-color:#e5ecf8;
      border-bottom: 1px solid #c8dcf3;
    }
  }
  .list-search{
    .editsearch{
      @include buttonB03;
      a{
        @include float-left;
        margin-right: 2em;
      }
    }
  }

}
#profiles{
  #left{
    @include background(url(../images/mycl-left-top.png), url(../images/mycl-left-bottom.png), url(../images/mycl-left-loop.png));
    width: 692px;
    background-position: left top, left bottom;
    background-repeat: no-repeat, no-repeat;
    padding: 5px 0;

    .box{
      background: url(../images/mycl-left-loop.png) left top repeat-y;
      /*background: none;*/
      margin: 0; //Don't change anything here
      border: none;
      padding: 0 10px 5px;
      a {
        display:inline;
      }
    }
  }
  h3{
    margin-left: 0;
    line-height: 38px;
    height: 38px;
    font-size: 16px;
  }
  .type1 h3{
    background: url(../images/hoso-icon.png) 5px center no-repeat;
    color: $blue;
    padding-left: 28px;
  }
  .type2 h3{
    background: none;
    color: #f37911;
    padding-left: 0;
  }
  table{
    width: 100%;
  }
}
.ttchung {
  @include clearfix;
}
.job-description {
  table {
    margin:2px 0;
  }
}
.hoso {
  @include clearfix;
  padding:10px;
}
.job-description {
  ul{
    li{
      line-height:25px
    }
  }
}
.titbold {
  color:#034ca3;
}
.notejob {
  font-weight:bold;
  color:#333;
  font-style:italic;
}
.dtop {
  position:relative;
  .images {
    position:absolute;
    display:block
  }
}
.career-advice-details {
    padding-bottom:20px;
    padding-top:6px;
    img {
      @include float-left;
      padding:1px;
      border:1px solid #eaeaea;
      margin-right:10px;
      margin-bottom:2px;
      
    }
    h4 {
      background: url(../images/tinkhac-bg.png) top left repeat-x;
      line-height:35px;
      color:#f37911;
      font-weight: bold;
      text-transform: uppercase;
      margin:10px 0;
    }
    li {
      background: url(../images/bullet2.png) 0 12px no-repeat;
      @include float-left;
      width:47%;
      margin-left:15px;
      padding-left:20px;
      line-height:32px;
      border-bottom:1px solid #eaeaea;
      a {
        color:#034ca3;
      }
    }
}
.tsmsselect {
  width: 40%;
  float: left;
  select {
    width: 100%; } 
}

.tsmsoptions {
  width: 20%;
  font-family:arial;
  float: left;
  p {
    margin: 2px;
    text-align: center;
    font-size: larger;
    cursor: pointer;
    &:hover {
      color: White;
      background-color: Silver; } } }
.timkiemnangcao {
  span {
    display:inline-block;
    width:30%;
    text-align:right;
    float:left;
    color:#034ca3;
    font-weight:700;
    margin-right:5px;
  }
  input, select {
    border:1px solid #eeeeee;
  }
  #myselecttsmsms2side__sx, #myselecttsmsms2side__dx, #myselecttsmssms2side__sx, #myselecttsmssms2side__dx {
    width:220px;
  }
  .ms2side__select, .ms2side__options {
    @include float-left;
  }
  .AddOne, .RemoveOne{
    background: url(../images/addone.png) top left no-repeat;
    width:38px;
    height:20px;
    margin:10px; 
    @include hide-text;
  }
  .RemoveOne {
  background: url(../images/removeone.png) top left no-repeat;
  }
}
