a:visited {
  color: #034CA3; }

/*body {
  overflow-x: hidden;
}*/

.listemployeer ul li img {
  border-left: 1px solid #efefef;
  border-top: 1px solid #efefef; }

#bottombox .container {
  .col-1 li, .col-2 li, .col-3 ul {
    border-bottom: 1px solid #b4c6db; }
  li a:hover {
    color: #B4C6DB;
    text-decoration: none; } }

#menu .login ul #btn-login {
  color: #013d6d; }

#topbar .container .topmisc a.ntd {
  background: url('../images/ntd.png') bottom left no-repeat;
  width: 185px;
  height: 32px;
  line-height: 27px;
  background-color: transparent;
  box-shadow: none;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  padding: 0 17px; }

#main #breadcrumb {
  ul li:first-child a {
    color: #005196; }
  padding: 7px 0 10px 10px; }

#bottombox {
  .container .box {
    /*  padding: 0 10px;
        width: 31%;*/ }
  h3 {
    font-size: 13px; } }

/* =========================== */
/* = Trang chi tiet viec lam = */

.details {
  #left {
    width: 710px;
    float: left;
    display: inline;
    margin-left: 0;
    margin-top: 10px; }
  .job-description {
    .title {
      background: url('../images/bg-title.png');
      line-height: 30px;
      text-indent: 10px;
      color: #034CA3;
      text-transform: uppercase; }
    td {
      background: url('../images/bg-des.png'); }
    img {
      margin: 10px;
      vertical-align: top; }
    table {
      margin: 10px 0;
      line-height: 20px;
      padding: 10px;
      td {
        background-image: none; } }
    .list {
      padding: 15px;
      li {
        
        padding-left: 20px;
        float: none;
        display: block;
        &:first-child, &.first {
          
          padding-left: 20px;
          float: none;
          display: block; } } }
    .title td {
      font-weight: 700; } }
  .lienhe.list {
    span.titbold {
      width:35%;
      margin-right:5px;
      font-weight:700;
      float:left;
      text-align:right;
      display:inline-block;
    }
    span {
      float:right;
      width:64%;
    }
  }
  #right {
    width: 222px;
    float: right;
    display: inline;
    margin-top: 10px;
    margin-right: 0px; } }

/* =========================== */
/* ========= */
/* = Right = */

.mota {
  background: #fbfbfb url('../images/right-bg-chitiet.png') no-repeat bottom center;
  h3 {
    background-color: #034ca3;
    line-height: 28px;
    color: #fff;
    padding-left: 10px;
    font-weight: bold; } }

.list-mota {
  padding: 10px 15px 25px;
  color: #034ca3;
  font-weight: bold;
  line-height: 35px;
  li {
    background: url('../images/line-right-chitiet.png') bottom center repeat-x; } }

.details .list-mota li ul {
  padding-left: 10px;
  width: 100%;
  display: block; }

.list-mota {
  li ul li {
    background: url('../images/bullet2.png') no-repeat left 11px;
    padding-left: 18px;
    line-height: 30px; }
  a {
    font-weight: normal; } }

/* ========= */
/* ================== */
/* = Thong tin khac = */

.thongtinkhac {
  position: relative; }

.social, .luotxem, .ngaydang, .hienthiden {
  position: absolute; }
.luotxem, .ngaydang, .hienthiden {
  font-weight:700;
  span {
  font-weight:100;
  }
}
.social {
  top: -28px;
  left: 50%; }

.luotxem {
  top: -28px;
  left: 64%; }

.ngaydang {
  top: -28px;
  left: 74%; }

.nopdon {
  margin-bottom: 10px;
  display: block;
  height: 34px;
  &.bottom {
    background: url('../images/nopdon-bottom.png') repeat-x;
    height: 60px;
    padding-top: 14px;
    img {
      float: right;
      margin-top: 8px; } } }

a {
  &.nop {
    background: url('../images/nopdon-button.png') right center no-repeat;
    padding-right: 10px;
    line-height: 34px;
    float: left;
    display: inline;
    span {
      background: url('../images/nopdon-button.png') left center no-repeat;
      padding-left: 10px;
      line-height: 34px;
      font-size: 16px;
      font-weight: bold;
      color: #fff;
      float: left;
      display: inline; } }
  &.luuviec, &.mailbanbe {
    line-height: 34px;
    text-decoration: underline;
    margin-left: 10px;
    color: #034ca3; } }

#tag {
  color: #333;
  font-weight: bold;
  margin-bottom: 10px;
  a {
    color: #034ca3; } }

#vieclienquan {
  background: url('../images/vieclamcungcty.png') no-repeat;
  padding: 20px 10px;
  margin-bottom: 10px;
  .box {
    display: inline;
    float: left;
    padding: 0 20px;
    width: 33.3%; }
  h3 {
    color: #333;
    font-weight: bold;
    font-size: 14px;
    margin: 10px 0; }
  li {
    background: url('../images/arrow-xanh.png') no-repeat left 10px;
    line-height: 25px;
    padding-left: 20px; } }

.search .list-job-cate.holder li {
  background: url('../images/arrow-xanh.png') no-repeat left 10px;
  line-height: 25px;
  padding-left: 20px; }

#vieclienquan li a {
  color: #333; }

.search .list-job-cate.holder {
  ul {
    padding: 10px 10px 0 10px; }
  li {
    width: 25%;
    margin: 0; }
  &.city li {
    width: 19%;
    margin: 0; }
  li a {
    text-transform: none;
    font-weight: normal;
    margin-top: 0;
    color: #034CA3; }
  form span {
    background: none; } }

#job-details {
  margin-bottom: 0; }

.otherlink {
  margin: 10px 0;
  a {
    float: left;
    text-decoration: underline;
    color: #1f63ad;
    margin-right: 10px;
    &.morongtimkiem {
      float: right;
      color: #ff0303; } } }

/* ================== */
/* ========================== */
/* = Tab list ketquatimkiem = */

.details table.view-rutgon {
  border: none;
  margin-top: 0; }

.view-rutgon {
  input {
    margin: 2px 0 0 3px; }
  .header td {
    background-color: #034ca3;
    color: #fff;
    font-weight: bold; }
  td, th {
    padding: 3px 2px; } }

.details {
  .view-rutgon .viptd {
    padding: 1px; }
  table.view-rutgon {
    td a {
      color: #666;
      display: block; }
    .even td {
      background-color: #f6fbff;
      border-bottom: 1px solid #daeefe; }
    .odd td {
      background-color: #e5f3ff;
      border-bottom: 1px solid #c7e2fa; }
    .vttop {
      vertical-align: top;
      img {} } }
  .view-rutgon {
    .even.vip, .odd .vip {
      border-bottom: 1px solid #000; }
    .even.vip td {
      background-color: #f6f4f8;
      border-bottom: 1px solid #dbe8f7; }
    .odd.vip td {
      background-color: #e5ecf8;
      border-bottom: 1px solid #c8dcf3; } } }

/* ========================== */
/* ============== */
/* = Login Form = */

body #loginform {
  z-index: 9999;
  width: 195px;
  background-color: #eee;
  input {
    width: 175px; }
  li {
    padding: 10px 10px 2px 10px; } }

/* ============== */
/* ======================== */
/* = Sua yeu cau tim kiem = */

.details #right .list-search.list-mota {
  padding-bottom: 60px; }

.list-search li {
  input, select {
    width: 192px;
    border: 1px solid $borderinput;
    background-color: #fff;
    padding: 3px 5px; } }

.details #right .list-search li.editsearch {
  background-image: none;
  margin-top: 10px;
  a {
    margin-left: 0; } }

li {
  &.luuviec {
    background: url('../images/luuvieclam.png') right center no-repeat;
    padding-right: 15px !important;
    line-height: 30px;
    float: left;
    display: inline;
    a {
      background: url('../images/luuvieclam.png') left center no-repeat;
      padding: 5px 0 9px 15px;
      font-size: 12px;
      font-weight: bold;
      color: #fff;
      float: left;
      display: inline; } }
  &.guibanbe {
    background: url('../images/guibanbe.png') right center no-repeat;
    padding-right: 15px !important;
    padding-left: 0 !important;
    line-height: 30px;
    float: left;
    display: inline;
    a {
      background: url('../images/guibanbe.png') left center no-repeat;
      padding: 5px 0 9px 15px;
      font-size: 12px;
      font-weight: bold;
      color: #fff;
      float: left;
      display: inline; } } }

.details .toolbar ul.pagination {
  margin-top: 5px 0 7px;
  margin-right: 0; }

.viewspecial {
  width: 710px; }

/* ======================== */
/* =================================== */
/* = Trang ket qua tim kiem chi tiet = */

.view-chitiet {
  line-height: 18px; }

.dtop {
  position: relative; }

.view-chitiet span {
  display: block; }

.details table.view-rutgon span.job-title {
  font-weight: bold;
  text-decoration: underline;
  float: left;
  display: inline;
  width: 365px;
  a {
    color: #034ca3; } }

span {
  &.jobsalary {
    float: left;
    display: inline; }
  &.job-des {
    color: #666666;
    margin: 5px 0; } }

.details table.view-rutgon span {
  &.recentemployeer a {
    color: #f37911;
    font-weight: bold; }
  &.nganhnghe a {
    color: #095272;
    font-weight: normal; } }

.view-chitiet span.nganhnghe span {
  display: inline-block;
  font-weight: bold; }

/* =================================== */

#main .search {}

.search .holder button {
  line-height: 27px; }

.details .job-description {
  .logo-chitietvieclam img {
    float: left;
    display: inline;
    margin-right: 10px;
    border: 1px solid #b2cbe8;
    box-shadow: 3px 5px 8px #b2cbe8; }
  .ntd-chitietvieclam {
    float: right;
    display: inline;
    width: 520px;
    table {
      width: 520px; } } }

/* ================= */
/* = Trang profile = */

#profiles {
  #right {
    width: 253px;
    margin-top: 0;
    padding: 0 4px 0;
    .app-job, .career-advice {
      padding-left: 5px; } }
  .login-info {
    img {
      float: left;
      margin-right: 10px;
      padding: 4px;
      border: 1px solid #d3cdcb;
      border-radius: 5px;
      background-color: #fff;
      margin-bottom: 3px; }
    background: #ffa956 url('../images/profile-infomation.png') repeat-x;
    padding: 10px;
    span {
      color: #fff;
      display: block;
      margin: 3px 0; } }
  #right h3 {
    color: #034ca3;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    border-bottom: 1px solid #fff; } }

.app-job-list li {
  border-top: 1px solid #ebf3f6;
  padding: 3px 0; }

.advice-list li {
  border-top: 1px solid #ebf3f6;
  padding: 3px 0;
  img {
    padding: 4px;
    box-shadow: 2px 3px 3px #b2cbe8;
    border-radius: 5px;
    background-color: #fff;
    float: left;
    margin-right: 10px; }
  padding: 4px 0;
  a {
    color: #727272; } }

.app-job-list li {
  a {
    color: #f6811f; }
  span {
    display: block;
    color: #b1b1b1;
    font-size: 11px; } }

#profiles .login-info {
  .name {
    font-size: 14px;
    font-weight: bold; }
  .edit, .logout {
    text-decoration: underline; } }

/* ================= */
/* =========================== */
/* = Trang cam nang tim viec = */

#career-center {
  #left h3 {
    border-bottom: 1px dotted #c3c3c3;
    color: #f37911;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    background-image: none;
    line-height: 32px;
    height: 32px;
    margin-left: 0;
    padding-left: 0;
    a {
      color: #f37911; } }
  .hot-advice {
    border-top: 1px dotted #c3c3c3;
    margin-top: 1px;
    padding-top: 10px;
    float: left;
    width: 50%;
    padding-right: 10px;
    .title {
      color: #666666;
      font-weight: bold;
      padding-bottom: 6px;
      a {
        color: #666666; } }
    img {
      border: 1px solid #eaeaea;
      padding: 1px;
      float: left;
      margin-right: 7px; } }
  .list-advice {
    border-top: 1px dotted #c3c3c3;
    margin-top: 1px;
    padding-top: 10px;
    float: right;
    width: 50%;
    padding-left: 20px;
    li {
      background: url('../images/arrow-xanhdam.png') no-repeat left 10px;
      line-height: 25px;
      border-bottom: 1px solid #eaeaea;
      padding-left: 20px;
      a {
        color: #034ca3; } } } }

.hot-job-list {
  padding: 10px 10px 40px;
  li {
    background: url("../images/line-right-chitiet.png") repeat-x scroll center bottom transparent;
    border: none; }
  span {
    display: block; } }

/* =========================== */

#profiles .contents {
  background-attachment: scroll, scroll, scroll;
  background-clip: border-box, border-box, border-box;
  background-color: transparent;
  background-image: url("../images/profile-top.png"), url("../images/profile-bottom.png"), url("../images/profile-loop.png");
  background-origin: padding-box, padding-box, padding-box;
  background-position: left top, left bottom;
  background-repeat: no-repeat, no-repeat;
  background-size: auto auto, auto auto, auto auto;
  padding: 20px 0 8px 0;
  .bg {
    background: url('../images/profile-loop.png') repeat-y;
    padding-bottom: 10px; }
  #left {
    background-image: none;
    margin-top: 0;
    padding-top: 0;
    .box {
      background-image: none;
      padding: 0 8px 0 16px;
      .view-rutgon {
        td, th {
          text-align: center; }
        td {
          color: #666666;
          padding: 7px 0; }
        th {
          padding: 7px 0; } }
      &.type2 .view-rutgon {
        th, td {
          text-align: left; }
        a {
          color: #034CA3; } }
      .view-rutgon {
        a {
          color: #666666;
          text-decoration: underline;
          &:hover {
            color: #b8b8b8; } }
        span {
          &.kh {
            color: #f08120;
            font-style: italic; }
          &.bt {
            color: #f08120;
            font-style: italic;
            color: #b8b8b8; }
          &.lx {
            color: #ff0000; }
          &.title {
            color: #034ca3; } } } } } }

.new-resume {}

a {
  &.new-resume-button, &:hover.new-resume-button {
    background: -moz-linear-gradient(center top, #c2e0ff 1px, #84affe 1px, #5a8ce7) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0.02, #C2E0FF), color-stop(0.02, #84AFFE), color-stop(1, #5A8CE7));
    border: 1px solid #3D6DC3;
    text-shadow: 0 1px #4876C9;
    border-radius: 3px 3px 3px 3px;
    padding: 4px 8px;
    color: #fff;
    float: right;
    margin-top: 10px; } }

#advanced-search button {
  background: -moz-linear-gradient(center top, #c2e0ff 1px, #84affe 1px, #5a8ce7) repeat scroll 0 0 transparent;
  border: 1px solid #3D6DC3;
  text-shadow: 0 1px #4876C9;
  border-radius: 3px 3px 3px 3px;
  padding: 4px 8px;
  color: #fff;
  float: right;
  margin-top: 10px; }

.advance-search.holder button {
  background: -moz-linear-gradient(center top, #c2e0ff 1px, #84affe 1px, #5a8ce7) repeat scroll 0 0 transparent;
  border: 1px solid #3D6DC3;
  text-shadow: 0 1px #4876C9;
  border-radius: 3px 3px 3px 3px;
  padding: 4px 8px;
  color: #fff;
  float: right;
  margin-top: 10px;
  text-indent: 0;
  padding: 0 4px;
  width: auto;
  float: left;
  margin-left: 378px; }

#advanced-search button {
  float: left;
  margin-left: 212px; }

.advance-search {
  padding: 10px 20px;
  p>span {
    background: none;
    float: left;
    display: inline;
    line-height: 35px;
    margin: 0 10px;
    width: 40%;
    text-align: right; }
  .select {
    float: left;
    select {
      margin: 3px 0; } }
  .select>span {
    margin: 3px 0; }
  p label input {
    margin: 3px 0;
    width: 263px; }
  form {} }

/*.advance-search select {
  opacity:100!important;
  float: right !important;
}
.advance-search span {

}
.advance-search span {
  display: inline-block;
  float: left;
  display: none !important;


  display: inline;
}
.advance-search .select span {
  display: block !important;
}*/

#profiles .type2 {
  h3 {
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 14px; }
  h4 {
    font-style: italic;
    color: #034ca3;
    margin-bottom: 4px;
    font-weight: bold;
    a {
      float: right;
      color: #cccccc;
      &:hover {
        color: #034ca3; } } }
  table {
    margin-bottom: 10px; } }

a.new-alert-button {
  background: none repeat scroll 0 0 #F8FCFF;
  border: 1px solid #8DC5E6;
  color: #0A7EC5;
  border-radius: 3px 3px 3px 3px;
  padding: 6px 9px;
  margin-top: 10px;
  float: left; }

#profiles .social, #career-center .social, #search-center .social {
  right: 0;
  left: auto; }

#career-center {
  .contents {
    background-attachment: scroll, scroll, scroll;
    background-clip: border-box, border-box, border-box;
    background-color: transparent;
    background-image: url("../images/camnang-top.png"), url("../images/camnang-bottom.png"), url("../images/camnang-loop.png");
    background-origin: padding-box, padding-box, padding-box;
    background-position: left top, left bottom;
    background-repeat: no-repeat, no-repeat;
    background-size: auto auto, auto auto, auto auto;
    padding: 20px 0 14px 0; }
  #left {
    padding-left: 20px;
    margin-top: 0; } }

#search-center .contents {
  background-attachment: scroll, scroll, scroll;
  background-clip: border-box, border-box, border-box;
  background-color: transparent;
  background-image: url("../images/search-top.png"), url("../images/search-bottom.png"), url("../images/search-loop.png");
  background-origin: padding-box, padding-box, padding-box;
  background-position: left top, left bottom;
  background-repeat: no-repeat, no-repeat;
  background-size: auto auto, auto auto, auto auto;
  padding: 20px 0 32px 0;
  .bg {
    background: url('../images/search-loop.png') repeat-y; }
  &.city {
    border-top: none; } }

#career-center {
  #right {
    margin-top: -10px; }
  .contents .bg {
    background: url('../images/camnang-loop.png') repeat-y; } }

.menu-camnang {
  background: url('../images/shadow.png') no-repeat bottom center;
  padding-bottom: 6px;
  margin-bottom: 10px;
  /*background-color:#f9fdff;
    border:1px solid #8dc5e6*/
  h3 {
    border: 1px solid #8dc5e6;
    color: #034ca3;
    font-size: 14px;
    font-weight: bold;
    line-height: 28px;
    background-color: #e9f6ff;
    padding-left: 10px; }
  ul {
    border: 1px solid #8dc5e6;
    margin-bottom: 1px;
    background-color: #f9fdff;
    border-top: none;
    padding: 5px 8px 10px 8px; }
  li {
    background: white url('../images/arrow-cam.png') no-repeat left 10px;
    line-height: 25px;
    padding-left: 15px;
    border-bottom: 1px solid #e5f5ff;
    a {
      color: #666666;
      font-weight: bold; } } }

/* ========== */
/* = Search = */

#search-center .contents {
  h3 {
    margin: 10px 20px 0;
    font-size: 12px;
    color: #666666;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 10px; }
  ul {
    padding: 20px;
    li {
      float: left;
      width: 33%;
      display: inline;
      margin-bottom: 10px;
      color: #666666;
      a {
        font-weight: bold;
        color: #666; }
      li {
        width: 100%;
        background: url('../images/arrow-xanh.png') no-repeat left 5px; }
      ul {
        padding-left: 10px; }
      li {
        span {
          color: #000; }
        a {
          color: #034ca3;
          padding-left: 18px;
          font-weight: normal; } } }
    &.search-city li {
      background: url('../images/bullet.png') no-repeat left 5px;
      width: 20%;
      a {
        color: #034ca3;
        padding-left: 15px;
        font-weight: normal; } } } }

.search label span.span-select-dropdown {
  border-bottom: 1px solid #fff;
  margin-bottom: -1px; }

.select-dropdown {
  border: 1px solid #FAEBDF;
  position: absolute;
  padding: 3px 0 3px 3px;
  z-index: 40;
  background-color: #fff;
  ul {
    margin: 0; }
  li {
    padding: 5px 5px 5px 0;
    float: left; } }

#advanced-search {
  margin-bottom: 20px;
  background-color: #fff;
  padding: 10px;
  p {
    margin: 8px 0; }
  label {
    width: 50%;
    float: left;
    display: inline;
    span {
      width: 45%;
      text-align: right;
      display: inline-block; }
    select {
      width: 53%; } }
  span, input[type="text"], select {} }

.jslider {
  margin: 50px auto 0;
  height: 10px;
  width: 906px;
  background-color: #444;
  border-radius: 6px;
  padding: 1px;
  .filler {
    height: 8px;
    background: #2b669e;
    border-radius: 4px; }
  .indicator {
    width: 10px;
    height: 13px;
    position: absolute;
    display: block;
    top: 50%;
    margin-top: -7px;
    left: 100%;
    margin-left: -5px;
    background: url(../images/slider.png) top left no-repeat; }
  .tooltip {
    position: absolute;
    height: 28px;
    color: #fff;
    top: -35px;
    left: 100%;
    white-space: nowrap;
    background: url(../images/taohstungbuoc.png) top center no-repeat;
    span {
      padding-right: 10px;
      height: 24px;
      line-height: 24px;
      display: block;
      background: url(../images/taohstungbuoc.png) top right no-repeat;
      span {
        padding-left: 10px;
        padding-right: 0;
        background: url(../images/taohstungbuoc.png) top left no-repeat; } } } }

/* ======================= */
/* = Tạo hồ sơ từng bước = */

p.instruction {
  padding: 5px 20px;
  color: #aeaeae;
  font-style: italic;
  line-height: 18px;
  span {
    color: #f00; } }

.danghoso {
  padding: 5px 13px;
  line-height: 18px; }

/* ======================= */