.search-basic-hoso, .ketquatimkiem-hoso,.ketquatimkiem-chitiet-ntd,
.hosocuatoi-ntd, .dangtuyendung {
	#breadcrumb ul {
		li{
		      background-image: url(../images/arrow-ntd.png);
		      &:last-child{
		        a{
		          color: #555;
		        }
	      	}
		      &:first-child{
			        background-image: url(../images/home-ntd.png) ;
			        a{
			          color: #005196;
			        }
		      }
		}
	}
	li {
	  &.luuviec {
	    margin-right:5px;
	    background: url('../images/luuntd.png') right center no-repeat;
		    a {
		      background: url('../images/luuntd.png') left center no-repeat;
		      padding-top:8px;
		      } 
	      }
	  &.guibanbe {
	    background: url('../images/guibanbentd.png') right center no-repeat;
		    a {
		      background: url('../images/guibanbentd.png') left center no-repeat;
		      color:#333;
		      padding-top:8px;
		      } 
	      } 
	}
	#footer {
		li {
			border-color: $or;
			a {
			color:$or;

			}
		}
		
	}
	#menu {
		.login {
			background-image: url("../images/loginntd-bg.png");
			}
	}
	.searchfooter {
		background: url("../images/searchbginner.png");
		border-color:#dfdfdf;
	}
	background: url("../images/ntd-bg.png") ;
	.details {
		background: url("../images/ntd-bg.png") ;
	}
	#bottombox {
		background: url("../images/footer-ntd.png") top left repeat-x;
	}
	#header{
		background: url(../images/header-ntd.png) top left repeat-x;
	}
	#topbar .container .topmisc a.ntd {
		color:#0955a9;
	}
	#topbar .topmisc .select {
	option {
		background-color:#fff;
	}
	color:$or;
	background-image: url("../images/language-selectntd.png");
	}
	#search-center .contents ul li a {
		color:#7D7979;
	}
	#search-center .contents ul li li {
	    background: url("../images/arrow-xam.png") no-repeat left 5px;
	    
	}
	#search-center .contents h3 {
		color:$or;
	}
	.details h2 {
		color:#333;
	}
	#search-center .contents ul.search-city li {
		background: url("../images/bulletntd.png") no-repeat left 5px;
		a {
			text-decoration: underline;
		}
	}
	#search-center .contents {
		@include background(url(../images/searchntd-top.png), url(../images/searchntd-bot.png), url(../images/searchntd-loop.png));
		background-position: left top, left bottom;
	    background-repeat: no-repeat, no-repeat;
	    padding: 23px 0;
	    .bg {
	    		background: url(../images/searchntd-loop.png) left top repeat-y;
	    		padding: 0 10px 5px;
	    }
	}
	#menu .menu ul a, #menu .menu ul span {
		background-image: url(../images/navntd-a.png);
		color:#7e7e7e;
	}
	#menu .menu ul a:hover, #menu .menu ul a:hover span, #menu .menu ul a.active, #menu .menu ul a.active span {
		background-image: url(../images/navntd-a-active.png);
	}
	#menu .menu ul ul a, 
	#menu .menu ul ul a:hover,
	#menu .menu ul ul a.active {
		background-image:none;
		color:#fff
	}

	#menu .menu ul ul a:hover,
	#menu .menu ul ul a.active {
		text-decoration: underline;
	}
	#bottombox .box li,
	#bottombox .container .col-3 ul  {
		border-color:#b5b5b5;
		a:hover {
			color:#c2c2c2;
		}
	}
}

.search-basic-hoso .searchfooter {
	
}
.ketquatimkiem-hoso,.ketquatimkiem-chitiet-ntd {
	.loaihoso {
		padding-bottom:5px;
		color:$or;
	}
	.h {
		height:90px;
		overflow:hidden;
	}
	span.noilamviec {
		@include float-left;
		width:103px;
	}
	span.kn {
		@include float-left;
		width:100px;
	}
	.details table.view-rutgon span.recentemployeer a {
		color:#818181;
	}
	.details table.view-rutgon span.job-title{
		width:332px;
		text-decoration: none;
		a{
			color:$or;
			text-decoration: underline;
			font-weight:700;

			&:hover {
				color:#818181;
			}
		}

	}
	#right {
	    .list-mota {
	      padding: 10px 15px 25px;
	      color: #034ca3;
	      font-weight: bold;
	      line-height: 35px;
	      li {
	        background: url('../images/line-right-chitietntd.png') bottom center repeat-x;
	      }
	    }
	    .mota {
	      background: #fbfbfb url('../images/right-bg-chitietntd.png') no-repeat bottom center;
	      h3 {
	        background-color: #eb7814;
	      } 
	      }
	 }
	.details {
		  .list-search{
		    .editsearch{
		      @include buttonB05;
		    }
		  }
		table{
		    th{
		      background-color: #959595;
		    }
		    .odd td{
		      background-color:#f8f8f8;
		      border-bottom: 1px solid #e4e4e4;
		    }
		    .even td{
		      background-color:#efefef;
		      border-bottom: 1px solid #e4e4e4;
		      }
		}
		.views {
			input {
				vertical-align: sub;
			}
		}
		ul.pagination{
	      margin: 5px 0 7px;
	      @include float-right;
	      li{
	        @include buttonA01;
	        a{
	        	margin-left:5px;
	        }
	      }
	    }
	}
}
.hosocuatoi-ntd #profiles #right .my-status h3 {
	color:#eb7713;
	text-transform:none;
	font-size:16px;
	background: url('../images/line-trangthaicuathoi.png') bottom center no-repeat;
	border-bottom:none;
	
}
.hosocuatoi-ntd {
	#right {
		.my-status {
			width:90%;
			margin: 10px auto 0;
			padding:5px 10px 10px;
			-webkit-border-radius: 8px;
			-moz-border-radius: 8px;
			border-radius: 8px;
			background-color:#f8f1ec;
			border:1px solid #ffbd85;
			li {
				color:#f69a58;
				list-style-type: square;
    				margin-left: 20px;
    				line-height:25px;
    				a {
    					color:#333;
    					 text-decoration: underline;
    				}
			}
		}

	}
	.new-alert{
		li{
			@include buttonI05;
		}
	}
	.new-resume{
		float:right;
		li {
			@include buttonB10;
		}
		
	}
	.details table th {
		background-color: #959595;
	}
	.details table.view-rutgon .even td {
		background-color:#efefef;
		border-bottom: 1px solid #e4e4e4;
	}
	.details table.view-rutgon .odd td {
		background-color:#f8f8f8;
		border-bottom: 1px solid #e4e4e4;
	}
	#profiles .type1 h3 {
		background-image:none;
		padding-left:0;
		font-size:16px;
		color:$or;
	}
	#profiles .login-info {
		background: #64d1ff url(../images/bg-hsvl-info.png) left top repeat-x;
		border-left:1px solid #5ab4ea;
		border-right:1px solid #5ab4ea;
	}
	#profiles .contents {
		@include background(url(../images/hsvl-top.png), url(../images/hsvl-bot.png), url(../images/hsvl-loop.png));
		background-position: left top, left bottom;
	    background-repeat: no-repeat, no-repeat;
	    padding: 25px 0 8px;
	    .bg {
	    		background: url(../images/hsvl-loop.png) left top repeat-y;
	    		padding: 0 0 8px 8px;
	    }
	}
	#profiles .contents #left .box {
		padding: 0 13px 0 5px;
	}
	#profiles #right {
		width:249px;
		padding: 0 4px 0 0; 
		h3 {
			color:#333333;
		}
	}
	.app-job-list a {
		color:#034ca3;
	}
}
.dangtuyendung {
	#search-center.create-resume .taohoso-button li {
		@include buttonB03;
	}
	.jslider {
		padding:0;
		width:475px;
		@include float-left;
		margin-left:20px;
		background:url(../images/bg-slider.png) top left repeat-x;
		background-color:transparent;
		height:37px;
		.filler {
			background:url(../images/bg-slider-filler.png) top left repeat-x;
			background-color:transparent;
			border-radius:none;
			height:37px;
		}
	}
	.instruction {
		@include float-right;
		width:410px;
	}
	.create-resume h4 {
		background-image: url(../images/title-dhs.png);
		color:#6c6c6c;
		border:none;
	}
	.danghoso p span {
		.red {
			color:red;
		}
		color:#333;
	}
}