#right{
  .demo2 {
    margin-top: 10px;
  }
  .ntd-view {
    width: 95%;
    margin: 0 auto 10px;
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #D3E7EE;
    border-color: #719EAE #8EBDCC #8EBDCC;
    border-right: 1px solid #8EBDCC;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 0 5px #8EBDCC inset, 0 1px 0 #FDFDFF;
    color: #4A6B79;
    text-shadow: 0 1px 0 rgba(253, 253, 255, 0.3);
    border-radius: 7px;
    padding: 0 !important;

  .demo1 {
    background-color:transparent !important;
  }
  h3 {
   border-bottom:1px solid #daf5ff !important;
   height: 30px;
   line-height:30px;
    font-weight: 700;
    font-size:14px;
    color: #3E6674 !important;
    text-align: center;
    background-color: #9ECADA;
    -webkit-border-top-left-radius: 07px;
   -webkit-border-top-right-radius: 07px;
    -moz-border-radius-topleft: 07px;
    -moz-border-radius-topright: 07px;
    border-top-left-radius: 07px;
    border-top-right-radius: 07px;
    padding: 0 !important;
  }
  p{
    font-style: italic;
    border-top:1px solid #9ecada !important;
    padding:10px 10px;
    text-align:justify;

    span {
      color:#f00;
      font-style:italic;
      font-weight:700;
    }
  }
}
  .luong {
    width:100%;

    span {
    position:static;
    padding:5px 0;

    }
    #divSalaryFrom {
      span.ser {
        font-weight: bold;
        line-height:10px;
        margin-right:5px;
        @include float-left;
        text-align: left;
    width: 25px;
      }
      @include float-left;
      width:100%;
      
      input,select {
        width:40%;
        @include float-left;
        padding:0;
        height:17px;
        margin-right:2px;
      }
      select {
          width: 52px;
      }
    }
    #divSalaryTo {
      span.ser {
        font-weight: bold;
        line-height:10px;
        margin-right:5px;
        @include float-left;
        text-align: left;
    width: 25px;
      }
      padding-left:0;
     
      width:100%;
      left:50px;
      @include float-left;
      input,select {
        width:76px;
        @include float-left;
        padding:0;
        height:17px;
        margin-right:2px;
      }
      select {
        width: 52px;
      }
    }
  }
  @include float-right;
  width: 300px;
  margin-right: 6px;
  h4{
    font-size: 16px;
    color: $blue;
  }
  .box{
    margin-bottom: 12px;
  }
}
#forjobseeker{
  background-image: url(../images/forjobseeker.png);
  padding:10px 0 0 90px;
  width: 300px;
  height: 118px;
  li{
    @include float-left;
    width: 50px;
    font-family: Arial;
    color: $blue;
    font-size: 11px;
    margin:10px 20px 0 0;
    text-align: center;
    &:last-child{
      margin-right: 0;
    }
  }
  a{
    padding-top: 45px;
    display: block;
  }
}
#lastestnews{
  @include newslist;
  background-image: url(../images/right-side-home-bg.png);
  background-repeat: repeat;
  border-top: 1px solid #cfe1ff;
  border-bottom: 1px solid #cfe1ff;
  h4{
    line-height: 42px;
    padding: 0 10px;
    border-bottom: 1px solid #fff;
    font-size: 18px;
    font-weight: normal;
  }
  ul{
    border-top: 1px solid #cfe1ff;
  }
  li{
    padding: 14px 0;
    margin: 0 12px;
    border-bottom: 1px dotted #727272;
    .newscontent{
      margin-left: 128px;
      a{
        @include link-colors(#333);
        font-weight: bold;
      }
    }
  }
  .readmore{
    color: #fa4301;
    font-size: 14px;
    font-weight: bold;
    text-align: right;
    padding: 10px 10px 5px;
  }
}
li.check{
  line-height:20px;
  .checklist {
    margin:10px 0;
    @include clearfix;
    font-style:italic;
    color:#666;
    font-size:11px;
    font-weight:100;
    input {
      float:left;
      width:auto;
      margin-right:8px;
      padding:10px 0;
    }
  }
}
.progess-job {
  @include clearfix;
  background-image: url(../images/propress-right.png);
  margin:10px auto 0;
  width:231px;
  padding:15px;
  p {
    padding: 10px 10px 5px 50px;
    color:#f6811f;
    font-weight:700;
  }
  .jslider {
    width:auto;
    margin:0 auto;
    background-color:#acc8cf;
    .filler {
      background-image: url(../images/bg-propressbar.png);
      background-repeat: repeat;
    }
  }
}
.ttip {
  padding-top:10px;
  color:#3d72c8;
  font-weight:700;
  span {
    font-size:18px;
  }
}
