#banner{
  *{
    @include single-transition(all, 1s, ease)
  }
  ul{
    width: $main-widht;
  }
  @include all-banner-sprites;
  li{
    @include float-left;
    height: 179px;
    /*width: 25%;*/
    width: 72px;
    overflow: hidden;
    /*
     *Superb sprites
     */
    $i: 4;
    @while $i > 0{
      &:nth-child(#{$i}) .banner-header{
        @include banner-sprite(kwick#{$i});
      }
      $i: $i - 1;
    }
    &.active{
      width: 731px;
      .banner-header{
        @include simple-transform(1, 0);
        margin-top: 103px;
        opacity: 0;
      }
      img{
        @include simple-transform(1);
        left:0;
        opacity: 1;
      }
      .banner-content{
        margin-left: 380px;
      }
    }
  }
.banner-header{
  @include transform-origin(top, left);
  @include simple-transform(1, -90deg);
  @include absolute;
  @include text-shadow(0 0 3px rgba(#000, .5));
  cursor: pointer;
  color: #fff;
  z-index: 20;
  height: 73px;
  margin-top: 179px;
  width: 179px;
  text-align: right;
  padding:50px 7px 0 0;
  /*
   *TODO: Correct font size
   */
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  }
  .active{
    .banner-content{
      display: block;
  }
}
img{
  @include absolute;
  @include simple-transform(2);
  left: 73px;
  opacity: 0;
}
.banner-content{
  color: $blue;
  margin-left: 920px;
  width: 310px;
  font-size:14px;
  font-weight: normal;
  overflow: hidden;
  position: relative;

  h2{
    font-size:24px;
    margin: 30px 0;
  }
  p {
    padding-right:10px;
  }
}
}
