#right
  / .mota
  .mota
    %h3 Mô tả
    / .list-mota
    .list-mota
      %ul
        %li
          %span Mã việc làm:
          %a{:href => "#"} 1234
        %li
          %span Ngành nghề:
          %ul
            %li
              %a{:href => "#"} IT - Phần Mền
            %li
              %a{:href => "#"} IT - Phần Cứng
            %li
              %a{:href => "#"} Biên Phiên Dịch
        %li
          %span Cấp bậc:
          %a{:href => "#"} Nhân viên
        %li
          %span Nơi làm việc:
          %a{:href => "#"} TP. Hồ Chí Minh
        %li
          %span Loại hình:
          %a{:href => "#"} Toàn thời gian cố định
        %li
          %span Lương:
          %a{:href => "#"} 350USD-500USD
        %li
          %span Tuổi:
          %a{:href => "#"} Trên 23
        %li
          %span Giới tính:
          %a{:href => "#"} Nữ
    / /.list-mota
  / /.mota
  .ad
    %img{:alt => "Ad Right", :height => "0", :src => "images/ad-right.png", :style => "display: none !important; visibility: hidden !important; opacity: 0 !important; ", :width => "0"}