#doitac
  .container
    = partial(:list, :locals => {:list => [                                                    |
        {:image => "bottom-doitac.png", :title => "Lorem ipsum dolor sit amet", :link => "#"}, |
        {:image => "bottom-doitac.png", :title => "Lorem ipsum dolor sit amet", :link => "#"}, |
        {:image => "bottom-doitac.png", :title => "Lorem ipsum dolor sit amet", :link => "#"}, |
        {:image => "bottom-doitac.png", :title => "Lorem ipsum dolor sit amet", :link => "#"}, |
        {:image => "bottom-doitac.png", :title => "Lorem ipsum dolor sit amet", :link => "#"}, |
        {:image => "bottom-doitac.png", :title => "Lorem ipsum dolor sit amet", :link => "#"}, |
        {:image => "bottom-doitac.png", :title => "Lorem ipsum dolor sit amet", :link => "#"}, |
        {:image => "bottom-doitac.png", :title => "Lorem ipsum dolor sit amet", :link => "#"}, |
        {:image => "bottom-doitac.png", :title => "Lorem ipsum dolor sit amet", :link => "#"}, |
        {:image => "bottom-doitac.png", :title => "Lorem ipsum dolor sit amet", :link => "#"}, |
        {:image => "bottom-doitac.png", :title => "Lorem ipsum dolor sit amet", :link => "#"}, |
        {:image => "bottom-doitac.png", :title => "Lorem ipsum dolor sit amet", :link => "#"}, |
      ]});                                                                                     |
