#vieclienquan
  .container
    .box.col-1
      %h3 Việc làm từ công ty này
      %ul
        %li
          %a{:href => "#"}
            quo officia excepturi rerum nam
        %li
          %a{:href => "#"}
            aut sint dolor nemo fugiat
        %li
          %a{:href => "#"}
            inventore cupiditate accusamus culpa modi
        %li
          %a{:href => "#"}
            nisi est debitis inventore neque
        %li
          %a{:href => "#"}
            vitae aut doloribus hic vel
    .box.col-2
      %h3 Việc làm cùng ngành nghề
      %ul
        %li
          %a{:href => "#"}
            accusamus reiciendis sunt iure est
        %li
          %a{:href => "#"}
            voluptate tempore aspernatur ut tempore
        %li
          %a{:href => "#"}
            rem labore pariatur reprehenderit officiis
        %li
          %a{:href => "#"}
            facere ab ad et nihil
        %li
          %a{:href => "#"}
            in sit nulla corporis nobis
    .box.col-3
      %h3 Việc làm liên quan
      %ul
        %li
          %a{:href => "#"}
            accusamus reiciendis sunt iure est
        %li
          %a{:href => "#"}
            voluptate tempore aspernatur ut tempore
        %li
          %a{:href => "#"}
            rem labore pariatur reprehenderit officiis
        %li
          %a{:href => "#"}
            facere ab ad et nihil
        %li
          %a{:href => "#"}
            in sit nulla corporis nobis
  / /#vieclienquan
  / ===============
  / = End content =
  / ===============