.otherlink.clearfix
  .container
    %a{:href => "#"} + Việc làm tuyển dụng mới
    %a{:href => "#"} + Đăng ký thông báo việc làm
    %a.morongtimkiem{:href => "#"} + Mở rông tiêu chí tìm việc làm tuyển dụng