#search.search.search-top
  .container
    %ul
      %li
        %a{:href => "#search-0"} Tìm việc nhanh
      %li
        %a{:href => "#search-1"} Tìm việc theo nghành nghề
      %li
        %a{:href => "#search-2"} Tìm việc theo địa điểm
      %li
        %a{:href => "#"} Tìm kiếm chi tiết
    %div#search-0
      .holder
        %form{:action => "#"}
          %label
            %input{:placeholder => "Nhap tu khoa cong viec ...", :type => "text"}/
          %label
            %select#nganhnghe{:name => "nganhnghe"}
              %option{:value => "IT-phan mem"} IT - Phan Mem
              %option{:value => "IT-phan mem"} IT
              %option{:value => "IT-phan mem"} Bien dich
          %label
            %select#thanhpho{:name => "thanhpho"}
              %option{:value => "tp hcm"} TP Ho Chi Minh
              %option{:value => "tp hcm"} Ha Noi
              %option{:value => "tp hcm"} Can Tho
          %button search
    %div#search-1
      .holder.list-job-cate
        %ul
          %li
            %a{:href => "#"} Biên phiên (200)
          %li
            %a{:href => "#"} Thông dịch viên (200)
          %li
            %a{:href => "#"} Phan Mem (200)
          %li
            %a{:href => "#"} Biên phiên (200)
          %li
            %a{:href => "#"} Biên phiên dịch (200)
          %li
            %a{:href => "#"} Thông dịch viên (200)
          %li
            %a{:href => "#"} Thông dịch viên (200)
          %li
            %a{:href => "#"} Biên phiên dịch (200)
          %li
            %a{:href => "#"} Biên phiên dịch (200)
          %li
            %a{:href => "#"} Thông dịch viên (200)
          %li
            %a{:href => "#"} Phan Mem (200)
          %li
            %a{:href => "#"} Biên phiên dịch (200)
          %li
            %a{:href => "#"} Thông dịch viên (200)
          %li
            %a{:href => "#"} Thông dịch viên (200)
          %li
            %a{:href => "#"} Thông dịch viên (200)
          %li
            %a{:href => "#"} Biên phiên dịch (200)    
    %div#search-2
      .holder.list-job-cate.city
        %ul
          %li
            %a{:href => "#"} Tp.HCM (200)
          %li
            %a{:href => "#"} Ha Noi (200)
          %li
            %a{:href => "#"} Hai Phong (200)
          %li
            %a{:href => "#"} Tp.HCM (200)
          %li
            %a{:href => "#"} Ha Noi (200)
          %li
            %a{:href => "#"} Hai Phong (200)
          %li
            %a{:href => "#"} Tp.HCM (200)
          %li
            %a{:href => "#"} Ha Noi (200)
          %li
            %a{:href => "#"} Hai Phong (200)
          %li
            %a{:href => "#"} Tp.HCM (200)
          %li
            %a{:href => "#"} Ha Noi (200)
          %li
            %a{:href => "#"} Hai Phong (200)
          %li
            %a{:href => "#"} Tp.HCM (200)
          %li
            %a{:href => "#"} Ha Noi (200)
          %li
            %a{:href => "#"} Hai Phong (200)
