#search.search.search-top
  .container
    %ul
      %li
        %a{:href => "#search-0"} Tìm việc nhanh
      %li
        %a{:href => "#search-1"} Tìm việc theo nghành nghề
      %li
        %a{:href => "#search-2"} Tìm việc theo địa điểm
      %li
        %a{:href => "#"} Tìm kiếm chi tiết
    %div#search-0
      .holder
        %form{:action => "#"}
          %label
            %input{:placeholder => "Nhap tu khoa cong viec ...", :type => "text"}/
          %label
            %select#nganhnghe{:name => "nganhnghe"}
              %option{:value => "IT-phan mem"} IT - Phan Mem
              %option{:value => "IT-phan mem"} IT
              %option{:value => "IT-phan mem"} Bien dich
          %label
            %select#thanhpho{:name => "thanhpho"}
              %option{:value => "tp hcm"} TP Ho Chi Minh
              %option{:value => "tp hcm"} Ha Noi
              %option{:value => "tp hcm"} Can Tho
          %button search
    %div#search-1
      .holder.list-job-cate
        %ul
          %li
            %a{:href => "#"} Biên phiên dịch/ Thông dịch
            %span ( 410)
          %li
            %a{:href => "#"} Biên phiên dịch (tiếng Nhật)
            %span (207)
          %li
            %a{:href => "#"} Nhân sự
            %span (442)
          %li
            %a{:href => "#"} Pháp lý/ Luật
            %span (139)
          %li
            %a{:href => "#"} Thư ký/ Hành chánh
            %span (1073)
          %li
            %a{:href => "#"} Chăm sóc sức khỏe/ Y tế 
            %span (172)
          %li
            %a{:href => "#"} Dịch vụ khách hàng
            %span (1431)
          %li
            %a{:href => "#"} Giáo dục/ Đào tạo/ Thư viện
            %span (388)
          %li
            %a{:href => "#"} Phi chính phủ/ Phi lợi nhuận 
            %span (3)
          %li
            %a{:href => "#"} Bảo hiểm
            %span (18)
          %li
            %a{:href => "#"} Tài chính/ Kiểm toán
            %span (1000)
          %li
            %a{:href => "#"} Ngân hàng/ Chứng khoán
            %span (203)
          %li
            %a{:href => "#"} Bán hàng
            %span (3208)
          %li
            %a{:href => "#"} Quảng cáo/ Đối ngoại 
            %span (938)
          %li
            %a{:href => "#"} Tiếp thị
            %span (635)
          %li
            %a{:href => "#"} Tư vấn
            %span (474)
          %li
            %a{:href => "#"} QA/ QC
            %span (228)
          %li
            %a{:href => "#"} Vận chuyển/ Kho bãi
            %span (404)
          %li
            %a{:href => "#"} Vật tư/ Mua hàng
            %span (181)
          %li
            %a{:href => "#"} Xuất nhập khẩu
            %span (273)
          %li
            %a{:href => "#"} CNTT - Phần cứng/ Mạng
            %span (558)
          %li
            %a{:href => "#"} CNTT - Phần mềm
            %span (1233)
          %li
            %a{:href => "#"} Khách sạn/ Du lịch
            %span (628)
          %li
            %a{:href => "#"} Nhà hàng/ Dịch vụ ăn uống
            %span (457)
          %li
            %a{:href => "#"} Dược/ Sinh học
            %span (221)
          %li
            %a{:href => "#"} Điện/ Điện tử 
            %span (659)
          %li
            %a{:href => "#"} Kỹ thuật ứng dụng/ Cơ khí
            %span (903)
          %li
            %a{:href => "#"} Môi trường/ Xử lý chất thải
            %span (90)
          %li
            %a{:href => "#"} Dầu khí/ Khoáng sản
            %span (64)
          %li
            %a{:href => "#"} Dệt may/ Da giày
            %span (389)
          %li
            %a{:href => "#"} Sinh hóa/ Thực phẩm
            %span (329)
          %li
            %a{:href => "#"} Nông nghiệp/ Lâm nghiệp
            %span (148)
          %li
            %a{:href => "#"} Ô tô
            %span (104)
          %li
            %a{:href => "#"} Sản xuất/ Vận hành sản xuất
            %span (681)
    %div#search-2
      .holder.list-job-cate.city
        %ul
          =partial(:looptp, :locals => {:format=>'list', :link=>true})
