---
trails:
  - links:
    title: "Careerlink"
    link: "#"
  - links:
    title: "Cam nang"
    link: "#"
---
- content_for :head do
  %title Career Link - Cam nang
#career-center.details
  .container
    #breadcrumb
      %ul
        %li
          %a{:href => "Careerlink", :title => "#"} Careerlink
        %li
          %a{:href => "Ket qua tim kiem", :title => "#"} Cam nang
    %h2 Kỹ năng quản lý thời gian
    .thongtinkhac
      .social
        %img{:alt => "Social", :height => "22", :src => "images/social.png", :width => "352"}
    .contents
      .bg.clearfix
        #left
          / .career-advice-cate
          .career-advice-details.clearfix
            %img{:alt => "Camnang List Img Demo", :height => "108", :src => "images/camnang-list-img-demo.png", :width => "108"}
            %p
              Một ngày có 24 giờ, mỗi tuần chỉ có 7 ngày thế nhưng có những người họ chẳng làm được việc gì trong khi một số người lại làm được hàng ngàn việc có ý nghĩa cho cuộc sống của họ? phải chăng đó là sự khác nhau giữa thói quen sử dụng thời gian của người thành đạt và những người bình thường khác? vậy để sử dụng thời gian của mình một cách tốt nhất thì mỗi cá nhân phải nhận định năng lực của mình và hiểu rõ những điểm mạnh, điểm yếu của bản thân trước khi nhận một công việc gì hoặc đối mặt với tình huống nào đó để từ đó biết được mình đang mong muốn gì trong sự nghiệp cũng như trong cuộc sống.

              Bạn muốn kiểm soát được công việc mình đã làm và nó sẽ mất bao nhiêu thời gian để thực hiện, trước hết bạn phải lên kế hoạch và viết nó ra giấy để trên bàn làm việc mỗi ngày như một lời nhắc nhở và cố gắng thực hiện theo đúng kế hoạch đề ra trong từng khoảng thời gian nhất định. Chẳng hạn bạn muốn mua nhà trong 3 năm tới thì kế hoạch của bạn hôm nay là gì? mỗi tháng bạn phải tiết kiệm được bao nhiêu tiền, mỗi năm bạn sẽ có được số tiền bao nhiêu? và muốn có được số tiền ấy bạn phải có kế hoạch làm việc cụ thể gắn với số tiền bạn làm ra. Công việc của bạn mỗi tuần mang lại bao nhiêu tiền? và bạn phải làm gì trong quỹ thời gian của bạn để có số tiền ấy. Kế hoạch phải thật chi tiết, rõ ràng từng bước một. Tốt nhất là bạn nên sắp xếp việc nào quan trọng nhất thì làm trước, việc nào ít quan trọng thì làm sau. Vì tâm lý chung của chúng ta là việc nào thích làm trước, việc nào dễ thì thích làm, việc nào khó thì gác lại giải quyết sau. Nhưng có điều nghịch lý là việc khó để lại thì thời gian sau khiến chúng càng khó giải quyết hơn.

              Vậy có phương pháp nào để cân bằng thời gian cho công việc, nghỉ ngơi giải trí và cho gia đình? Với một doanh nghiệp mới ra đời thì luôn luôn bị áp lực về sự quá tải bởi công việc nhưng tình trạng đó không thể kéo dài mãi, vì tình trạng ấy sẽ khiến nhân viên làm việc với tâm trạng mệt mỏi, căng thẳng và điều đó ảnh hưởng đến năng suất, hiệu quả công việc. Vì vậy người chủ doanh nghiệp phải biết cách xây dựng hệ thống, qui trình làm việc, kế hoạch làm việc và giao trách nhiệm cho từng người nhất định. Đồng thời phải đặt niềm tin vào nhân viên để họ có thể chủ động giải quyết công việc của mình.Vì thế, có thể nói điều quyết định hiệu quả quản lý thời gian của người lãnh đạo chính là hiệu quả làm việc của đội ngũ nhân viên.

              Đối với nhân viên, để thời gian làm việc hiệu quả nhất, nhân viên phải biết xác định mục tiêu của mình. Không nên “ôm” quá nhiều việc cùng một lúc để rồi không giải quyết đúng tiến độ gây ảnh hưởng đến công ty và tinh thần làm việc. Đồng thời phải biết sắp xếp công việc khéo léo, biết tận dụng thời cơ để làm việc hiệu quả hơn. Tuy nhiên mục tiêu và lợi ích của bạn phải gắn với mục tiêu của công ty. Tính kỷ luật về thời gian với bản thân là thứ cực kỳ quan trọng. Vì vậy, khi đã thống nhất về mục tiêu giữa cấp quản lý và nhân viên đó sẽ có động lực làm việc và họ sẽ tận dụng tối đa thời gian làm việc để đạt mục tiêu.

              Đối với nhân viên, để thời gian làm việc hiệu quả nhất, nhân viên phải biết xác định mục tiêu của mình. Không nên “ôm” quá nhiều việc cùng một lúc để rồi không giải quyết đúng tiến độ gây ảnh hưởng đến công ty và tinh thần làm việc. Đồng thời phải biết sắp xếp công việc khéo léo, biết tận dụng thời cơ để làm việc hiệu quả hơn. Tuy nhiên mục tiêu và lợi ích của bạn phải gắn với mục tiêu của công ty. Tính kỷ luật về thời gian với bản thân là thứ cực kỳ quan trọng. Vì vậy, khi đã thống nhất về mục tiêu giữa cấp quản lý và nhân viên đó sẽ có động lực làm việc và họ sẽ tận dụng tối đa thời gian làm việc để đạt mục tiêu.
            %h4 Tin lien quan
            %ul.other-news
              %li
                %a{:href => "#"} 7 bước đến thành công 
              %li
                %a{:href => "#"} Những tính cách gây phiền hà cho bạn nơi công sở 
              %li
                %a{:href => "#"} Thêm yêu công việc. Thêm vị thành công
              %li
                %a{:href => "#"} Những tính cách gây phiền hà cho bạn nơi công sở 
              %li
                %a{:href => "#"} 7 bước đến thành công 
              %li
                %a{:href => "#"} Thêm yêu công việc. Thêm vị thành công
              %li
                %a{:href => "#"} Những tính cách gây phiền hà cho bạn nơi công sở 
              %li
                %a{:href => "#"} 7 bước đến thành công 
              %li
                %a{:href => "#"} Thêm yêu công việc. Thêm vị thành công
              %li
                %a{:href => "#"} 7 bước đến thành công 
        #right
          
          / = Menu cam nang right =
          .menu-camnang
            %h3 Cẩm nang việc làm
            %ul
              %li
                %a{:href => "#"} Suy nghĩ thay đổi công việc
              %li
                %a{:href => "#"} Hướng Nghiệp
              %li
                %a{:href => "#"} Tìm Việc
              %li
                %a{:href => "#"} Viết Resume
              %li
                %a{:href => "#"} Phỏng Vấn
              %li
                %a{:href => "#"} Đổi nghề
          / =Menu cam nang right =
          / = Vieclam phu hop =
          .mota.app-job
            %h3 Việc làm nổi bật
            %ul.app-job-list.hot-job-list
              %li
                %a{:href => "#"} Senior ASP.NET Web Developer
                %span Biziwave Vietnam - TP. Ho Chi Minh
              %li
                %a{:href => "#"} Senior Perl Developer
                %span ELISOFT - TP. Ho Chi Minh
              %li
                %a{:href => "#"} Senior Perl Developer
                %span ELISOFT - TP. Ho Chi Minh
              %li
                %a{:href => "#"} Senior ASP.NET Web Developer
                %span ELISOFT - TP. Ho Chi Minh
          .ad.box
            = image_tag "ad-right.png"
          / ===================
