---
trails:
  - links:
    title: "Careerlink"
    link: "#"
  - links:
    title: "Cam nang"
    link: "#"
---
- content_for :head do
  %title Career Link - Cam nang
#career-center.details
  .container
    #breadcrumb
      %ul
        %li
          %a{:href => "Careerlink", :title => "#"} Careerlink
        %li
          %a{:href => "Ket qua tim kiem", :title => "#"} Ket qua tim kiem
    %h2 Cẩm nang tìm kiếm
    .thongtinkhac
      .social
        %img{:alt => "Social", :height => "22", :src => "images/social.png", :width => "352"}
    .contents
      .bg.clearfix
        #left
          / .career-advice-cate
          .career-advice-cate.clearfix
            %h3 
              %a{:href => "#"}Hướng nghiệp
            .hot-advice
              %img{:alt => "Camnang List Img Demo", :height => "108", :src => "images/camnang-list-img-demo.png", :width => "108"}
                %p.title
                  %a{:href => "#"}Những nguyên tắc giúp thành công
                %p Trong cuộc sống đôi lúc không đạt được kết quả như mong muốn, đìêu đó không có nghĩa là thất bại mà qua đó bạn trưởng thành hơn  ....
            %ul.list-advice
              %li
                %a{:href => "#"} Internet là một công cụ quan trọng đối với các DN
              %li
                %a{:href => "#"} Hãy gần kẻ thù của mình hơn đồng minh
              %li
                %a{:href => "#"} Tìm hiểu nhóm khách hàng
              %li
                %a{:href => "#"} Truyền thông xã hội bắt đầu biến đổi kinh doanh
              %li
                %a{:href => "#"} Liên kết doanh nghiệp để tạo sức mạnh
          / /.career-advice-cate
          / .career-advice-cate
          .career-advice-cate.clearfix
            %h3 
              %a{:href => "#"}Hướng nghiệp
            .hot-advice
              %img{:alt => "Camnang List Img Demo", :height => "108", :src => "images/camnang-list-img-demo.png", :width => "108"}
                %p.title 
                  %a{:href => "#"}Những nguyên tắc giúp thành công
                %p Trong cuộc sống đôi lúc không đạt được kết quả như mong muốn, đìêu đó không có nghĩa là thất bại mà qua đó bạn trưởng thành hơn  ....
            %ul.list-advice
              %li
                %a{:href => "#"} Internet là một công cụ quan trọng đối với các DN
              %li
                %a{:href => "#"} Hãy gần kẻ thù của mình hơn đồng minh
              %li
                %a{:href => "#"} Tìm hiểu nhóm khách hàng
              %li
                %a{:href => "#"} Truyền thông xã hội bắt đầu biến đổi kinh doanh
              %li
                %a{:href => "#"} Liên kết doanh nghiệp để tạo sức mạnh
          / /.career-advice-cate
          / .career-advice-cate
          .career-advice-cate.clearfix
            %h3 
              %a{:href => "#"}Hướng nghiệp
            .hot-advice
              %img{:alt => "Camnang List Img Demo", :height => "108", :src => "images/camnang-list-img-demo.png", :width => "108"}
                %p.title 
                  %a{:href => "#"}Những nguyên tắc giúp thành công
                %p Trong cuộc sống đôi lúc không đạt được kết quả như mong muốn, đìêu đó không có nghĩa là thất bại mà qua đó bạn trưởng thành hơn  ....
            %ul.list-advice
              %li
                %a{:href => "#"} Internet là một công cụ quan trọng đối với các DN
              %li
                %a{:href => "#"} Hãy gần kẻ thù của mình hơn đồng minh
              %li
                %a{:href => "#"} Tìm hiểu nhóm khách hàng
              %li
                %a{:href => "#"} Truyền thông xã hội bắt đầu biến đổi kinh doanh
              %li
                %a{:href => "#"} Liên kết doanh nghiệp để tạo sức mạnh
          / /.career-advice-cate
          / .career-advice-cate
          .career-advice-cate.clearfix
            %h3 
              %a{:href => "#"}Hướng nghiệp
            .hot-advice
              %img{:alt => "Camnang List Img Demo", :height => "108", :src => "images/camnang-list-img-demo.png", :width => "108"}
                %p.title 
                  %a{:href => "#"}Những nguyên tắc giúp thành công
                %p Trong cuộc sống đôi lúc không đạt được kết quả như mong muốn, đìêu đó không có nghĩa là thất bại mà qua đó bạn trưởng thành hơn  ....
            %ul.list-advice
              %li
                %a{:href => "#"} Internet là một công cụ quan trọng đối với các DN
              %li
                %a{:href => "#"} Hãy gần kẻ thù của mình hơn đồng minh
              %li
                %a{:href => "#"} Tìm hiểu nhóm khách hàng
              %li
                %a{:href => "#"} Truyền thông xã hội bắt đầu biến đổi kinh doanh
              %li
                %a{:href => "#"} Liên kết doanh nghiệp để tạo sức mạnh
          / /.career-advice-cate
        #right
          / = Menu cam nang right =
          .menu-camnang
            %h3 Cẩm nang việc làm
            %ul
              %li
                %a{:href => "#"} Suy nghĩ thay đổi công việc
              %li
                %a{:href => "#"} Hướng Nghiệp
              %li
                %a{:href => "#"} Tìm Việc
              %li
                %a{:href => "#"} Viết Resume
              %li
                %a{:href => "#"} Phỏng Vấn
              %li
                %a{:href => "#"} Đổi nghề
          / =Menu cam nang right =
          / = Vieclam phu hop =
          .mota.app-job
            %h3 Việc làm nổi bật
            %ul.app-job-list.hot-job-list
              %li
                %a{:href => "#"} Senior ASP.NET Web Developer
                %span Biziwave Vietnam - TP. Ho Chi Minh
              %li
                %a{:href => "#"} Senior Perl Developer
                %span ELISOFT - TP. Ho Chi Minh
              %li
                %a{:href => "#"} Senior Perl Developer
                %span ELISOFT - TP. Ho Chi Minh
              %li
                %a{:href => "#"} Senior ASP.NET Web Developer
                %span ELISOFT - TP. Ho Chi Minh
          / ===================
          .ad.box
            = image_tag "ad-right.png"
