---
logo: 'logo-ntd.png'
trails:
  - links:
    title: "Careerlink"
    link: "#"
  - links:
    title: "Hồ sơ việc làm"
    link: "#"
---
- content_for :head do
  %title Career Link - Hồ sơ việc làm
#ungvien.details
  .container
    = partial(:breadcrumb)
    %h2 Chi tiết ứng viên
    .contents
      .bg.clearfix
        %div#left
          %div.infochung.clearfix
            %img{:src => "../images/ungvien.png"}
            %info
              %h3.tenungvien
                Hoang Thi Kieu Phuong
              %span
                Web designer, Front-end dev
              %h4
                Thông tin cá nhân
              %ul
                %li
                  Giới tính:
                  %span 
                    Nữ
                %li
                  Ngày sinh:
                  %span 
                    02/09/2012
                %li
                  Tình trạng hôn nhân
                  %span 
                    Đã kết hôn
                %li
                  Quốc tịch:
                  %span 
                    Việt Nam
          %div.noidung.buttonthongtinlienhe
            %ul
              %li.luuviec
                %a{:href => "#"} Xem thông tin liên hệ
            %p
              Vui lòng nhấn vào nút phía trên để xem thông tin liên lạc của ứng viên.
              %br
              (Mỗi lần nhấn vào nút "Thông tin liên hệ", số lượng gói cước hồ sơ sẽ bị giảm đi một.) 
          %div.noidung.thongtinlienhe
            %h4
              Thông tin liên hệ
            %table.ungvien
              %tr
                %td.tar{:width => "30%"}
                  Địa chỉ:
                %td
                  114/4/9 Tam Vu, Hung Loi, Ninh Kieu, TP. Can Tho
              %tr
                %td.tar{:width => "30%"}
                  Điện thoại:
                %td
                  0123.456.789
              %tr
                %td.tar{:width => "30%"}
                  Di động: 
                %td
                  1234.568.895
              %tr
                %td.tar{:width => "30%"}
                  Địa chỉ Email:
                %td
                  %a{:href => "#"} htkieuphuong@gmail.com
          %div.noidung
            %h4
              Học vấn - Ngoại ngữ
            %table.ungvien
              %tr
                %td.time{:width => "30%", :valign => "top"}
                  9/2006 - 6/2010
                %td
                  %span.titb
                    ĐH Đà Lạt
                  %span.nganhhoc
                    Ngôn ngữ (Tiếng Anh)
                  %ul
                    %li Cử nhân
                    %li Viet Nam
                    %li + Bằng cấp: B.A
                    %li + Chuyên ngành: Tiếng Anh (English Foreign Language Studies)
                %tr
                %td.time{:width => "30%", :valign => "top"}
                  9/2006 - 6/2010
                %td
                  %span.titb
                    Trung tâm An Tiến Informatics
                  %span.nganhhoc
                    Chứng chỉ tin học
                  %ul
                    %li Cử nhân
                    %li Viet Nam
                    %li + Bằng cấp: B.A
                    %li + Chuyên ngành: Tiếng Anh (English Foreign Language Studies)
              %tr
                %td.ngoaingu{:width => "30%", :valign => "top"}
                  Ngoại ngữ
                %td
                  %ul
                    %li Tiếng Anh - Thành thạo
                    %li Tiếng Trung Quốc - Sơ cấp
          %div.noidung
            %h4
              Kinh nghiệm làm việc
            %table.ungvien
              %tr
                %td.ngoaingu{:width => "30%", :valign => "top"}
                  Số năm Kinh nghiệm
                %td
                  02 năm
              %tr
                %td.time{:width => "30%", :valign => "top"}
                  
                  9/2006 - 6/2010
                %td
                  %span.titb
                    Công ty Anh ngữ Quốc Tế Mỹ - International American
                  %span.nganhhoc
                    Nhân viên tư vấn đào tạo - Giáo viên tiếng Anh
                  %ul
                    %li Giáo dục/ Đào tạo/ Thư viện
                    %li Đồng Nai - Viet Nam
                  %p
                    Tôi cùng lúc đảm nhận vị trí nhân viên tư vấn đào tạo và giáo viên tiếng Anh. Với tôi, đây là cơ hội đáng quý vì được làm việc trong một môi trường trẻ trung, năng động, sáng tạo và đúng sở trường của bản thân.
                    Nhiệm vụ chính
                  %ul
                    %li - Tư vấn khách hàng
                    %li - Marketing, giới thiệu các chương trình và khóa học
                    %li - Hỗ trợ học viên đăng kí ghi danh và nhập học.
                    %li - Quản lý khối lớp và hồ sơ học viên.
                    %li - Giảng dạy các lớp tiếng Anh.
                    %li - Tham gia lập kế hoạch, tổ chức các chuyến tham quan, dã ngoại, các hoạt động ngoại khóa và lễ hội cho học viên.
                    %li - Công việc văn phòng: liên hệ khách hàng, nhập liệu và lưu trữ thông tin khách hàng, soạn thảo văn bản, báo cáo, in ấn, ...
                %tr
                %td.time{:width => "30%", :valign => "top"}
                 
                  9/2006 - 6/2010
                %td
                  %span.titb
                    Ana Mandara Villas & Spa at Dalat
                  %span.nganhhoc
                    Operator - Tổng đài viên
                  %ul
                    %li Khách sạn/ Du lịch
                    %li Lâm Đồng - Viet Nam
                  %p
                    Thông qua công việc này, tôi có cơ hội trải nghiệm thực tế, tích lũy kinh nghiệm khi làm việc trong môi trường áp lực cao, hoàn thiện hơn khả năng chuyên môn cũng như xây dựng tác phong trong công việc.
                    *Nhiệm vụ chính:
                  %ul
                    %li - Nghe nhận điện thoại của khách hàng và các bộ phận.
                    %li - Kết nối điện thoại.
                    %li - Kiểm soát thông tin, kịp thời chuyển thông tin cho các bộ phận liên quan.
                    %li - Hỗ trợ lễ tân, tiếp đón, phục vụ khách hàng.
                    %li - Giải thích, trả lời thắc mắc của khách hàng.
                    %li - In ấn, nhập liệu và lưu trữ thông tin khách hàng..
                    %li - Công việc văn phòng: liên hệ khách hàng, nhập liệu và lưu trữ thông tin khách hàng, soạn thảo văn bản, báo cáo, in ấn, ...
                  %br
              %tr
                %td.ngoaingu{:width => "30%", :valign => "top"}
                  Người tham khảo
                %td
                  Để xem thông tin người tham khảo, vui lòng nhấn vào nút "Xem thông tin liên hệ". 
          %div.noidung
            %h4
              Kỹ năng
            %ul.kynang
              %li
                Kỹ năng vi tính văn phòng - Microsoft Word
                %span
                  Cao cấp - 4 năm
              %li
                Kỹ năng giao tiếp - E-mail
                %span
                  Trung cấp - 4 năm
              %li
                Kỹ năng bán hàng - Trình bày 
                %span
                  Trung cấp - 3 năm
              %li
                Kỹ năng khác - Làm việc độc lập
                %span
                  Cao cấp - 4 năm 
          %div.noidung
            %h4
              Công việc mong muốn
            %table.ungvien
              %tr
                %td.tar{:width => "30%"}
                  Vị trí mong muốn
                %td 
                  Nhân viên kỹ thuật, lập trình viên
              %tr
                %td.tar{:width => "30%"}
                  Mức lương gần đây nhất:
                %td 
                  5.000.000 VNĐ
              %tr
                %td.tar{:width => "30%"}
                  Lương mong muốn:
                %td 
                  6.000.000 - 8.000.000 VNĐ
              %tr
                %td.tar{:width => "30%"}
                  Cấp bậc mong muốn:
                %td 
                  Chuyên viên
              %tr
                %td.tar{:width => "30%"}
                  Loại công việc:
                %td 
                  Toàn thời gian cố định 
              %tr
                %td.tar{:width => "30%"}
                  Ngành nghề mong muốn: 
                %td 
                  Công nghệ thông tin
          %div.time-edit
            Cập nhật lần cuối: 03 - 05 - 2012
        %div#right
          %div.thaotac
            %ul.thaotackhac
              %li
                %span.lienhe
                %a{:href => "#"} Liên hệ ứng viên
              %li
                %span.luuhs
                %a{:href => "#"}Lưu hồ sơ
              %li
                %span.xoa
                %a{:href => "#"}Xóa
              %li
                %span.tlrs
                %a{:href => "#"}Trả lời resume
              %li
                %span.timtt
                %a{:href => "#"}Tìm resume tương tự
              %li
                %span.tkm
                %a{:href => "#"}Tìm kiếm mới
              %li
                %span.incv
                %a{:href => "#"}In công việc
              %li
                %span.elt
                %a{:href => "#"}Email resume like this
