---
trails:
  - links:
    title: "Careerlink"
    link: "#"
  - links:
    title: "Đăng tuyển dụng"
    link: "#"
---
- content_for :head do
  %title Career Link - Search
#search-center.details.create-resume
  .container
    = partial(:breadcrumb)
    %h2 Đăng tuyển dụng
    .contents
      .bg.clearfix
        %br.clearfix/
        %div.tip.clearfix
          .jslider{:current => "1", :total => "3"}
            .filler
          %p.instruction
            Thông tin Miêu tả sơ lược công ty,Tên việc làm… 
            Bạn hãy chọn nút “Lưu Bước 1 để tiếp tục Bước 2“ để ttiếp tục
            %br
            Những mục có dấu sao
            %span *
            là bắt buộc.
        / .danghoso
        .danghoso
          %form{:action => "#"}
            %h4.tit Chức danh
            %p
              %span Chức danh
              %label
                %input{:type => "text",:placeholder => "Chức danh"}
            %p
              %span Mã việc làm
              %label
                %input{:type => "text",:placeholder => "Mã việc làm"}
            %h4.tit Thông tin cá nhân
            %p
              %span Họ tên
              %label
                %input{:type => "text",:placeholder => "Họ tên"}
            %p
              %span Giới tính
              %label
                %select#cbGender.TEXTBOX{:name => "cbGender"}
                  %option{:value => ""} ...
                  %option{:value => "Male"} Nam
                  %option{:selected => "", :value => "Female"} Nữ
            %p
              %span Ngày sinh
              %label
                %select#cbBirthDay.TEXTBOX{:name => "cbBirthDay"}
                  %option{:value => "1"} 1
                  %option{:selected => "", :value => "2"} 2
                  %option{:value => "3"} 3
                  %option{:value => "4"} 4
                  %option{:value => "5"} 5
                  %option{:value => "6"} 6
                  %option{:value => "7"} 7
                  %option{:value => "8"} 8
                  %option{:value => "9"} 9
                  %option{:value => "10"} 10
                  %option{:value => "11"} 11
                  %option{:value => "12"} 12
                  %option{:value => "13"} 13
                  %option{:value => "14"} 14
                  %option{:value => "15"} 15
                  %option{:value => "16"} 16
                  %option{:value => "17"} 17
                  %option{:value => "18"} 18
                  %option{:value => "19"} 19
                  %option{:value => "20"} 20
                  %option{:value => "21"} 21
                  %option{:value => "22"} 22
                  %option{:value => "23"} 23
                  %option{:value => "24"} 24
                  %option{:value => "25"} 25
                  %option{:value => "26"} 26
                  %option{:value => "27"} 27
                  %option{:value => "28"} 28
                  %option{:value => "29"} 29
                  %option{:value => "30"} 30
                  %option{:value => "31"} 31
              %label
                %select#cbBirthMonth.TEXTBOX{:name => "cbBirthMonth"}
                  %option{:value => "1"} Tháng 1
                  %option{:value => "2"} Tháng 2
                  %option{:value => "3"} Tháng 3
                  %option{:value => "4"} Tháng 4
                  %option{:value => "5"} Tháng 5
                  %option{:value => "6"} Tháng 6
                  %option{:value => "7"} Tháng 7
                  %option{:value => "8"} Tháng 8
                  %option{:selected => "", :value => "9"} Tháng 9
                  %option{:value => "10"} Tháng 10
                  %option{:value => "11"} Tháng 11
                  %option{:value => "12"} Tháng 12
              %label
                %select#cbBirthYear.TEXTBOX{:name => "cbBirthYear"}
                  %option{:value => "1892"} 1892
                  %option{:value => "1893"} 1893
                  %option{:value => "1894"} 1894
                  %option{:value => "1895"} 1895
                  %option{:value => "1896"} 1896
                  %option{:value => "1897"} 1897
                  %option{:value => "1898"} 1898
                  %option{:value => "1899"} 1899
                  %option{:value => "1900"} 1900
                  %option{:value => "1901"} 1901
                  %option{:value => "1902"} 1902
                  %option{:value => "1903"} 1903
                  %option{:value => "1904"} 1904
                  %option{:value => "1905"} 1905
                  %option{:value => "1906"} 1906
                  %option{:value => "1907"} 1907
                  %option{:value => "1908"} 1908
                  %option{:value => "1909"} 1909
                  %option{:value => "1978"} 1978
                  %option{:value => "1979"} 1979
                  %option{:value => "1980"} 1980
                  %option{:value => "1981"} 1981
                  %option{:value => "1982"} 1982
                  %option{:value => "1983"} 1983
                  %option{:value => "1984"} 1984
                  %option{:value => "1985"} 1985
                  %option{:value => "1986"} 1986
                  %option{:selected => "", :value => "1987"} 1989
                  %option{:value => "1988"} 1988
                  %option{:value => "1989"} 1989
                  %option{:value => "1990"} 1990
                  %option{:value => "1991"} 1991
                  %option{:value => "1992"} 1992
                  %option{:value => "1993"} 1993
                  %option{:value => "1994"} 1994
                  %option{:value => "1995"} 1995
                  %option{:value => "1996"} 1996
                  %option{:value => "1997"} 1997
                  %option{:value => "1998"} 1998
                  %option{:value => "1999"} 1999
                  %option{:value => "2000"} 2000
                  %option{:value => "2001"} 2001
                  %option{:value => "2002"} 2002
                  %option{:value => "2003"} 2003
                  %option{:value => "2004"} 2004
                  %option{:value => "2005"} 2005
                  %option{:value => "2006"} 2006
                  %option{:value => "2007"} 2007
                  %option{:value => "2008"} 2008
                  %option{:value => "2009"} 2009
                  %option{:value => "2010"} 2010
                  %option{:value => "2011"} 2011
                  %option{:value => "2012"} 2012
            %p
              %span Tinh trang hon nhan
              %label
                %select#cbMaritalStatus.TEXTBOX{:name => "cbMaritalStatus"}
                  %option{:value => ""} ...
                  %option{:value => "Single"} Độc thân
                  %option{:selected => "", :value => "Married"} Đã kết hôn
            %h4.tit Thong tin lien he
            %p
              %span Dia chi
              %label
                %input{:type => "text",:placeholder => "114/4/9 Tam Vu, Ninh Kieu"}
            %p
              %span Tinh - Thanh Pho
              %label
                %select#cbProvinceCode.TEXTBOX{:name => "cbProvinceCode", :onchange => "changeStateEx(this,'cbProvinceCode','txtProvinceCode');"}
                  %option{:value => ""} Chọn tỉnh
                  %option{:value => "HCM"} Hồ Chí Minh
                  %option{:value => "HN"} Hà Nội
                  %option{:value => "DN"} Đà Nẵng
                  %option{:value => "AG"} An Giang
                  %option{:value => "BRVT"} Bà Rịa - Vũng Tàu
                  %option{:value => "BK"} Bắc Cạn
                  %option{:value => "BG"} Bắc Giang
                  %option{:value => "BL"} Bạc Liêu
                  %option{:value => "BN"} Bắc Ninh
                  %option{:value => "BTE"} Bến Tre
                  %option{:value => "BDH"} Bình Định
                  %option{:value => "BD"} Bình Dương
                  %option{:value => "BP"} Bình Phước
                  %option{:value => "BT"} Bình Thuận
                  %option{:value => "CM"} Cà Mau
                  %option{:selected => "", :value => "CT"} Cần Thơ
                  %option{:value => "CB"} Cao Bằng
                  %option{:value => "DL"} Đắk Lắk
                  %option{:value => "DNG"} Đăk Nông
                  %option{:value => "DB"} Điện Biên
                  %option{:value => "DNI"} Đồng Nai
                  %option{:value => "DT"} Đồng Tháp
                  %option{:value => "GL"} Gia Lai
                  %option{:value => "HG"} Hà Giang
                  %option{:value => "HNM"} Hà Nam
                  %option{:value => "HT"} Hà Tây
                  %option{:value => "HTH"} Hà Tĩnh
                  %option{:value => "HD"} Hải Dương
                  %option{:value => "HP"} Hải Phòng
                  %option{:value => "HAG"} Hậu Giang
                  %option{:value => "HB"} Hòa Bình
                  %option{:value => "HY"} Hưng Yên
                  %option{:value => "KG"} Kiên Giang
                  %option{:value => "KH"} Khánh Hòa
                  %option{:value => "KT"} Kon Tum
                  %option{:value => "LC"} Lai Châu
                  %option{:value => "LD"} Lâm Đồng
                  %option{:value => "LS"} Lạng Sơn
                  %option{:value => "LCI"} Lào Cai
                  %option{:value => "LA"} Long An
                  %option{:value => "ND"} Nam Định
                  %option{:value => "NA"} Nghệ An
                  %option{:value => "NB"} Ninh Bình
                  %option{:value => "NT"} Ninh Thuận
                  %option{:value => "PT"} Phú Thọ
                  %option{:value => "PY"} Phú Yên
                  %option{:value => "QB"} Quảng Bình
                  %option{:value => "QN"} Quảng Nam
                  %option{:value => "QNI"} Quảng Ngãi
                  %option{:value => "QNH"} Quảng Ninh
                  %option{:value => "QT"} Quảng Trị
                  %option{:value => "ST"} Sóc Trăng
                  %option{:value => "SL"} Sơn La
                  %option{:value => "TN"} Tây Ninh
                  %option{:value => "TB"} Thái Bình
                  %option{:value => "TNN"} Thái Nguyên
                  %option{:value => "THH"} Thanh Hóa
                  %option{:value => "TTH"} Thừa Thiên - Huế
                  %option{:value => "TG"} Tiền Giang
                  %option{:value => "TV"} Trà Vinh
                  %option{:value => "TQ"} Tuyên Quang
                  %option{:value => "VL"} Vĩnh Long
                  %option{:value => "VP"} Vĩnh Phúc
                  %option{:value => "OT"} Khác
                  %option{:value => "NN"} Nước Ngoài
              %p
                %span Dia chi
                %label
                  %input{:type => "text", :placeholder => "Dia chi"}
              %p
                %span.clearfix
                  %span.red *
                  %span.impor
                    Dia chi Email                  
                %label
                  %input{:type => "text", :placeholder => "So DT di dong"}
              %p
                %span.clearfix
                  %span.red *
                  %span.impor
                    Dia chi Email                  
                %label
                  %input{:type => "text", :placeholder => "Dia chi Email"}
              %ul.taohoso-button.clearfix
                %li.luutam
                  %a{:href => "#"} Luu tam
                %li.buocketiep
                  %a.current{:href => "#"} Luu buoc 1 de tiep tuc buoc 2
        / /.danghoso
        / ==========================
