---
logo: 'logo-ntd.png'
trails:
  - links:
    title: "Careerlink"
    link: "#"
  - links:
    title: "Đăng tuyển dụng"
    link: "#"
---
- content_for :head do
  %title Career Link - Search
#search-center.details.create-resume
  .container
    = partial(:breadcrumb)
    %h2 Đăng tuyển dụng - Bước 4 - Mô tả công việc
    .contents
      .bg.clearfix
        %br.clearfix/
        %div.tip.clearfix
          .jslider{:current => "3", :total => "3"}
            .filler
          %div.instruction
            Thông tin Miêu tả sơ lược công ty,Tên việc làm… 
            Bạn hãy chọn nút “Lưu Bước 1 để tiếp tục Bước 2“ để ttiếp tục
            %p.not-input
              Những mục có dấu sao
              %span *
              là bắt buộc.
        .danghoso
          %form{:action => "#"}
            %h4.tit 
              Mô tả công việc 
              %a{:href => "#"} [Sửa]
            %p
              %span Chức danh:
              %label
                Nhân viên tuyển dụng
            %p
              %span Mã việc làm:
              %label
                
            %h4.tit 
              Thông tin công ty 
              %a{:href => "#"} [Sửa]
            %div.clearfix
              %div.ttc.clearfix
                %img{:alt => "Logo Chitiet Demo", :height => "80", :src => "images/logo-chitiet-demo.png", :width => "130"}
                %div.ntd-chitietvieclam
                  %table{:border => "0", :bordercolor => "#FFCC00", :cellpadding => "0", :cellspacing => "5", :style => "background-color:transparent", :width => "520"}
                    %tbody
                      %tr
                        %td{:valign => "top", :width => "100"} Tên công ty
                        %td
                          %span{:style => "font-weight:bold;color:#034ca3;font-size:14px"} CareerLink
                      %tr
                        %td{:valign => "top", :width => "100"} Website
                        %td 
                          %a{:href => "#"} www.careerlink.vn
                      %tr
                        %td{:valign => "top", :width => "100"} Số nhân viên
                        %td 25-99
                      %tr
                        %td{:valign => "top", :width => "100"} Liên hệ
                        %td
                          %span{:style => "color:#034ca3;"} HR Department
              .hoso
                %p CareerLink Vietnam managed by Japanese is one of Vietnam’s most successful recruitment agencies, supplying high quality personnel to hundreds of companies. Currently more than 500 companies use the Executive Search service and over 10,000 companies are always CareerLink Vietnam managed by Japanese is one of Vietnam’s most successful recruitment agencies, supplying high quality personnel to hundreds of companies. Currently more than 500
            %h4.tit 
              Mô tả công việc
              %a{:href => "#"} [Sửa]
            %div
              %ul.list.lienhe.clearfix
                %li.clearfix
                  %span.titbold Cách liên hệ
                  %span Nộp trực tiếp
                %li.clearfix
                  %span.titbold Nhận hồ sơ ứng viên bằng ngôn ngữ: 
                  %span Trực tiếp
                %li.clearfix 
                  %span.titbold Mô tả: 
                  %span Ứng viên quan tâm vui lòng liên hệ gửi hồ sơ, C.V Online hoặc trực tiếp đến 270 - 272 Cộng Hòa, P.13, Q. Tân Bình  TP. Hồ Chí Minh
                %li.clearfix 
                  %span.titbold Tên liên hệ:
                  %span CareerLink
                %li.clearfix 
                  %span.titbold Cách liên hệ
                  %span Nộp trực tiếp
                %li.clearfix 
                  %span.titbold Địa chỉ:
                  %span Phòng 302, 270-272 Cộng Hòa, P.13, Q.Tân Bình , Hồ Chí Minh , Viet Nam
                %li.clearfix 
                  %span.titbold Email liên hệ:
                  %span maihien.le@careerlink.vn     
                %li.clearfix 
                  %span.titbold Người liên hệ:
                  %span Ms. Mai Hien
            %h4.tit 
              Mô tả công việc
              %a{:href => "#"} [Sửa]
            %div
              %ul.list.lienhe.clearfix
                %li.clearfix
                  %span.titbold Cách liên hệ
                  %span Nộp trực tiếp
                %li.clearfix
                  %span.titbold Nhận hồ sơ ứng viên bằng ngôn ngữ: 
                  %span Trực tiếp
                %li.clearfix 
                  %span.titbold Mô tả: 
                  %span Ứng viên quan tâm vui lòng liên hệ gửi hồ sơ, C.V Online hoặc trực tiếp đến 270 - 272 Cộng Hòa, P.13, Q. Tân Bình  TP. Hồ Chí Minh
                %li.clearfix 
                  %span.titbold Tên liên hệ:
                  %span CareerLink
                %li.clearfix 
                  %span.titbold Cách liên hệ
                  %span Nộp trực tiếp
                %li.clearfix 
                  %span.titbold Địa chỉ:
                  %span Phòng 302, 270-272 Cộng Hòa, P.13, Q.Tân Bình , Hồ Chí Minh , Viet Nam
                %li.clearfix 
                  %span.titbold Email liên hệ:
                  %span maihien.le@careerlink.vn     
                %li.clearfix 
                  %span.titbold Người liên hệ:
                  %span Ms. Mai Hien
            %h4.tit 
              Mô tả công việc
              %a{:href => "#"} [Sửa]
            %div
              %ul.list.lienhe.clearfix
                %li.clearfix
                  %span.titbold Cách liên hệ
                  %span Nộp trực tiếp
                %li.clearfix
                  %span.titbold Nhận hồ sơ ứng viên bằng ngôn ngữ: 
                  %span Trực tiếp
                %li.clearfix 
                  %span.titbold Mô tả: 
                  %span Ứng viên quan tâm vui lòng liên hệ gửi hồ sơ, C.V Online hoặc trực tiếp đến 270 - 272 Cộng Hòa, P.13, Q. Tân Bình  TP. Hồ Chí Minh
                %li.clearfix 
                  %span.titbold Tên liên hệ:
                  %span CareerLink
                %li.clearfix 
                  %span.titbold Cách liên hệ
                  %span Nộp trực tiếp
                %li.clearfix 
                  %span.titbold Địa chỉ:
                  %span Phòng 302, 270-272 Cộng Hòa, P.13, Q.Tân Bình , Hồ Chí Minh , Viet Nam
                %li.clearfix 
                  %span.titbold Email liên hệ:
                  %span maihien.le@careerlink.vn     
                %li.clearfix 
                  %span.titbold Người liên hệ:
                  %span Ms. Mai Hien
            %h4.tit 
              Mô tả công việc
              %a{:href => "#"} [Sửa]
            %div
              %ul.list.lienhe.clearfix
                %li.clearfix
                  %span.titbold Cách liên hệ
                  %span Nộp trực tiếp
                %li.clearfix
                  %span.titbold Nhận hồ sơ ứng viên bằng ngôn ngữ: 
                  %span Trực tiếp
                %li.clearfix 
                  %span.titbold Mô tả: 
                  %span Ứng viên quan tâm vui lòng liên hệ gửi hồ sơ, C.V Online hoặc trực tiếp đến 270 - 272 Cộng Hòa, P.13, Q. Tân Bình  TP. Hồ Chí Minh
                %li.clearfix 
                  %span.titbold Tên liên hệ:
                  %span CareerLink
                %li.clearfix 
                  %span.titbold Cách liên hệ
                  %span Nộp trực tiếp
                %li.clearfix 
                  %span.titbold Địa chỉ:
                  %span Phòng 302, 270-272 Cộng Hòa, P.13, Q.Tân Bình , Hồ Chí Minh , Viet Nam
                %li.clearfix 
                  %span.titbold Email liên hệ:
                  %span maihien.le@careerlink.vn     
                %li.clearfix 
                  %span.titbold Người liên hệ:
                  %span Ms. Mai Hien
              %ul.taohoso-button.clearfix
                %li.luutam
                  %a{:href => "#"} Hủy bỏ
                %li.luutam
                  %a{:href => "#"} Kiểm tra việc tìm kiếm hồ sơ này
                %li.buocketiep
                  %a.current{:href => "#"} Lưu thông báo hồ sơ
        / /.danghoso
        / ==========================
