---
logo: 'logo-ntd.png'
trails:
  - links:
    title: "Careerlink"
    link: "#"
  - links:
    title: "Ket qua tim kiem"
    link: "#"
---
- content_for :head do
  %title Career Link - Search
#searchresult.details
  .container
    = partial(:breadcrumb)
    %h2 Ket qua tim kiem
    .contents
      %p.desc Chung toi da tim duoc 29 cong viec theo yeu cau: Tu khoa: <strong>designer</strong> | Viec lam phai co: <strong>tu khoa chinh xac</strong> | Nghanh nghe: <strong>IT - Phan mem</strong> | Dia diem: <strong>Ho Chi Minh</strong>
      #left
        .toolbar
          %ul.pagination
            %li
              %a.first{:href => "#"} First
            %li
              %a.previous{:href => "#"} Previous
            %li
              %a{:href => "#"} 1
            %li
              %a{:href => "#"} 2
            %li
              %a.current{:href => "#"} 3
            %li
              %a.next{:href => "#"} Next
            %li
              %a.last{:href => "#"} Last
          %ul.views
            %li
              %strong Xem
            %li
              %label
                %input{:checked => "checked", :name => "views", :type => "radio"}
                  Ngắn gọn
            %li.ser
              |
            %li
              %label
                %input{:name => "views", :type => "radio"}
                  Chi tiết
        / =========
        / = Table =
        %table.view-rutgon
          %tbody
            %tr.header
              %th{:align => "center", :width => "5%"}
                %input#check_all{:type => "checkbox", :value => ""}/
              %th{:align => "center", :width => "30%"}  Vị trí mong muốn
              %th{:align => "center", :width => "25%"} Họ tên
              %th{:align => "center", :width => "15%"} Kinh nghiệm
              %th{:align => "center", :width => "15%"} Nơi làm việc
              %th{:align => "center", :width => "10%"} Cập nhật
            - even = true
            - 30.times do
              - even = !even
              %tr{:class=> even ? "even":"odd"}
                %td{:align => "center"}
                  %input{:type => "checkbox"}/
                %td 
                  %a{:href=>"#"}Senior Recruiter
                %td 
                  %a{:href=>"#"}Hoàng Thị Kiều Phương
                %td 
                  %a{:href=>"#"}5 năm
                %td 
                  %a{:href =>"#"} Hồ Chí Minh
                %td  22-2-2012
        / =========
        / =========
        .toolbar
          %ul.pagination
            %li
              %a.first{:href => "#"} First
            %li
              %a.previous{:href => "#"} Previous
            %li
              %a{:href => "#"} 1
            %li
              %a{:href => "#"} 2
            %li
              %a.current{:href => "#"} 3
            %li
              %a.next{:href => "#"} Next
            %li
              %a.last{:href => "#"} Last
          %ul.buttons
            %li.luuviec
              %a{:href => "#"} Lưu
            %li.guibanbe
              %a{:href => "#"} Gửi cho bạn bè
      = partial(:searchright)
