!!! 5
-# paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
<!--[if lt IE 7]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7]> <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8]> <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if gt IE 8]><!-->
%html.no-js{ :lang => "en" }
  <!--<![endif]-->
  %head
    %meta{ :charset => "utf-8" }/
    -# Always force latest IE rendering engine (even in intranet) & Chrome Frame
    %meta{ "http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1" }/    
    = stylesheet_link_tag "site.css"
    /[if lt IE 9]
      = javascript_include_tag "IE9"
      = javascript_include_tag "modernizr"
      = javascript_include_tag "h5f"
    - if content_for?(:head)
      = yield_content :head
  %body{:class => page_classes}
    #header
      #topbar
        .container
          .topmenu
            %ul
              %li
                %a{:href => "#"} Việc làm đăng tuyển
                %span 123456
              %li
                %a{:href => "#"} Tìm việc
              %li
                %a{:href => "#"} Việc làm
              %li
                %a{:href => "#"} Tuyển dụng
              %li
                %a{:href => "#"} Nhân sự
          .topmisc
            %a{:href => "#"} Liên hệ
            .language
              / Current language or 'Language' for defaut
              %select{:name => "language"}
                %option{:selected => "selected", :value => "en"} English
                %option{:value => "vn"} Tiếng Việt
                %option{:value => "jp"} Japanese
            %a.ntd{:href => "#"} Nhà tuyển dụng
      #menu.container
        /
          \-TODO: logo.png, transparent
        - if data.page.logo?
          %h1#logo
            %a{:href => "#"}= image_tag data.page.logo
        - else
          %h1#logo
            %a{:href => "#"}= image_tag 'logo.png'
        .login
          %ul
            %li#btn-register
              %a{:href => "#"}
                %span Đăng ký
            %li#btn-login
              %a.login-window{:href => "#login-box"}
                %span Đăng nhập
        .menu
          %ul
            %li
              %a.active{:href => "#"}
                %span Trang chủ
              %ul
                %li
                  %a{:href => "#"} Việc làm hấp dẫn
                %li
                  %a{:href => "#"} Việc làm lương cao ($1000+)
                %li
                  %a{:href => "#"} Việc làm gấp
            %li
              %a{:href => "#"}
                %span My CareerLink
            %li
              %a{:href => "#"}
                %span Tìm việc làm
            %li
              %a{:href => "#"}
                %span Hồ sơ
            %li
              %a{:href => "#"}
                %span Cẩm nang
      - if content_for?(:banner)
        = yield_content :banner
    #main{:role => "main"}
      = yield
    = partial(:bottombox)
    = partial(:footer)

  #login-box.login-popup
    %a.close{:href => "#"}
      %img.btn_close{:alt => "Close", :src => "images/close_pop.png", :title => "Close Window"}/
    %form#signin{:action => "", :method => "post"}
      %p
        %label{:for => "username"} Tên đăng nhập hoặc địa chỉ email
        %input#username{:name => "username", :tabindex => "4", :title => "username", :type => "text", :value => ""}
      %p
        %label{:for => "password"} Mật khẩu
        %input#password{:name => "password", :tabindex => "5", :title => "password", :type => "password", :value => ""}
      %p.remember
        %input#signin_submit{:tabindex => "6", :type => "submit", :value => "Sign in"}
          %input#remember{:name => "remember_me", :tabindex => "7", :type => "checkbox", :value => "1"}
            %label{:for => "remember"} Ghi nhớ
      %p.forgot
        %a#resend_password_link{:href => "#"} Bạn quên mật khẩu?
      %p.forgot-username
        %a#forgot_username_link{:href => "#", :title => ""} Bạn quên tên đăng nhập?
  = javascript_include_tag 'app'
