---
logo: 'logo-ntd.png'
trails:
  - links:
    title: "Careerlink"
    link: "#"
  - links:
    title: "Sửa thông báo tìm kiếm hồ sơ"
    link: "#"
---
- content_for :head do
  %title Career Link - Search
#search-center.details.advance-search
  .container
    = partial(:breadcrumb)
    %h2 Sửa thông báo tìm kiếm hồ sơ
    .contents.clearfix
      .bg.clearfix
        %h3 
          Tiêu đề đơn xin việc: Kế Toán
        %div.clearfix
          .new-resume.clearfix
            %li
              %a.current.new-resume-button{:href => "#"} Cập nhật hồ sơ ngay
          %br
          %table.view-rutgon
            %tbody
              %tr.header
                %th.t-l{:width => "33%"}Công ty
                %th{:width => "12%"} Lần xem
                %th{:width => "12%"} Ngày xem mới nhất                  
                %th{:width => "33%"} Xem việc làm
              %tr.odd
                %td.t-l
                  %a{:href => "#"}
                    CÔNG TY CỔ PHẦN KHOÁNG SẢN SÀI GÒN
                %td
                  20
                %td 23/05/2012
                %td
                  %span
                    Công ty này hiện tại không đăng bất kỳ công việc nào                  
              %tr.even
                %td.t-l
                  %a{:href => "#"}
                    CÔNG TY CỔ PHẦN KHOÁNG SẢN NINH THUẬN
                %td
                  20
                %td 23/05/2012
                %td
                  %span
                    Công ty này hiện tại không đăng bất kỳ công việc nào
              %tr.odd
                %td.t-l
                  %a{:href => "#"}
                    Công Ty CP VTB Khai Nguyên
                %td
                  20
                %td 23/05/2012
                %td
                  %span
                    Công ty này hiện tại không đăng bất kỳ công việc nào
              %tr.even
                %td.t-l
                  %a{:href => "#"}
                    ông ty TNHH Khí Hóa Lỏng Cội Nguồn Việt Nam
                %td
                  20
                %td 23/05/2012
                %td
                  %span
                    Công ty này hiện tại không đăng bất kỳ công việc nào
              %tr.odd
                %td.t-l
                  %a{:href => "#"}
                    Công Ty TNHH Đá Hóa An 1
                %td
                  20
                %td 23/05/2012
                %td
                  %span
                    Công ty này hiện tại không đăng bất kỳ công việc nào
              %tr.even
                %td.t-l
                  %a{:href => "#"}
                    CÔNG TY CỔ PHẦN KHOÁNG SẢN SÀI GÒN
                %td
                  20
                %td 23/05/2012
                %td
                  %span
                    Công ty này hiện tại không đăng bất kỳ công việc nào
              %tr.odd
                %td.t-l
                  %a{:href => "#"}
                    CÔNG TY CỔ PHẦN KHOÁNG SẢN SÀI GÒN
                %td
                  20
                %td 23/05/2012
                %td
                  %span
                    Công ty này hiện tại không đăng bất kỳ công việc nào
              %tr.even
                %td.t-l
                  %a{:href => "#"}
                    CÔNG TY CỔ PHẦN KHOÁNG SẢN NINH THUẬN
                %td
                  20
                %td 23/05/2012
                %td
                  %span
                    Công ty này hiện tại không đăng bất kỳ công việc nào
          %ul.pagination.clearfix
            %li
              %a.first{:href => "#"} First
            %li
              %a.previous{:href => "#"} Previous
            %li
              %a{:href => "#"} 1
            %li
              %a{:href => "#"} 2
            %li
              %a.current{:href => "#"} 3
            %li
              %a.next{:href => "#"} Next
            %li
              %a.last{:href => "#"} Last
          %div.note-update.clearfix
            %p
              Hồ sơ của bạn cập nhật cuối cùng ngày 19/4/2012
              %br
              Nên 
              %a{:href => "#"} 
                cập nhật 
              hồ sơ thường xuyên để nhà tuyển dụng dễ dàng tìm thấy thông tin của bạn