---
trails:
  - links:
    title: "Careerlink"
    link: "#"
  - links:
    title: "Trang tim viec nhanh"
    link: "#"
---
- content_for :head do
  %title Career Link - Search
#search-center.details
  .container
    = partial(:breadcrumb)
    %h2 Tìm việc nhanh
    = partial(:searchbottom)
    .contents
      .bg.clearfix
        %h3 Trang tìm việc chung
        %ul.search-cate
          %li
            %a{:href => "#"} Bộ Phận Hỗ trợ
            %ul
              %li
                %a{:href => "#"} Biên phiên dịch/ Thông dịch viên
                %span ( 410)
              %li
                %a{:href => "#"} Nhân sự
                %span (442)
              %li
                %a{:href => "#"} Pháp lý/ Luật
                %span (139)
              %li
                %a{:href => "#"} Thư ký/ Hành chánh
                %span (1073)
          %li
            %a{:href => "#"} Dịch vụ
            %ul
              %li
                %a{:href => "#"} Chăm sóc sức khỏe/ Y tế 
                %span (172)
              %li
                %a{:href => "#"} Dịch vụ khách hàng
                %span (1431)
              %li
                %a{:href => "#"} Giáo dục/ Đào tạo/ Thư viện
                %span (388)
              %li
                %a{:href => "#"} Phi chính phủ/ Phi lợi nhuận 
                %span (3)
          %li
            %a{:href => "#"} Kỹ Thuật
            %ul
              %li
                %a{:href => "#"} Dược/ Sinh học
                %span (221)
              %li
                %a{:href => "#"} Điện/ Điện tử 
                %span (659)
              %li
                %a{:href => "#"} Kỹ thuật ứng dụng/ Cơ khí
                %span (903)
              %li
                %a{:href => "#"} Môi trường/ Xử lý chất thải
                %span (90)
          %li
            %a{:href => "#"} Dịch vụ tài chính
            %ul
              %li
                %a{:href => "#"} Bảo hiểm
                %span (18)
              %li
                %a{:href => "#"} Kế toán/ Tài chính/ Kiểm toán
                %span (1000)
              %li
                %a{:href => "#"} Ngân hàng/ Chứng khoán/ Đầu tư
                %span (203)
          %li
            %a{:href => "#"} Giao Dịch Khách Hàng
            %ul
              %li
                %a{:href => "#"} Bán hàng
                %span (3208)
              %li
                %a{:href => "#"} Quảng cáo/ Khuyến mãi/ Đối ngoại 
                %span (938)
              %li
                %a{:href => "#"} Tiếp thị
                %span (635)
              %li
                %a{:href => "#"} Tư vấn
                %span (474)
          %li
            %a{:href => "#"} Hỗ trợ sản xuất
            %ul
              %li
                %a{:href => "#"} Quản lý chất lượng (QA/ QC)
                %span (228)
              %li
                %a{:href => "#"} Vận chuyển/ Giao thông/ Kho bãi
                %span (404)
              %li
                %a{:href => "#"} Vật tư/ Mua hàng
                %span (181)
              %li
                %a{:href => "#"} Xuất nhập khẩu/ Ngoại thương
                %span (273)
          %li
            %a{:href => "#"} IT - Công nghệ thông tin
            %ul
              %li
                %a{:href => "#"} CNTT - Phần cứng/ Mạng
                %span (558)
              %li
                %a{:href => "#"} CNTT - Phần mềm
                %span (1233)
          %li
            %a{:href => "#"} Khách sạn / Du lịch
            %ul
              %li
                %a{:href => "#"} Khách sạn/ Du lịch
                %span (628)
              %li
                %a{:href => "#"} Nhà hàng/ Dịch vụ ăn uống
                %span (457)
          %li
            %a{:href => "#"} Sản xuất
            %ul
              %li
                %a{:href => "#"} Dầu khí/ Khoáng sản
                %span (64)
              %li
                %a{:href => "#"} Dệt may/ Da giày
                %span (389)
              %li
                %a{:href => "#"} Hóa chất/ Sinh hóa/ Thực phẩm
                %span (329)
              %li
                %a{:href => "#"} Nông nghiệp/ Lâm nghiệp
                %span (148)
              %li
                %a{:href => "#"} Ô tô
                %span (104)
              %li
                %a{:href => "#"} Sản xuất/ Vận hành sản xuất
                %span (681)
          %li
            %a{:href => "#"} Xây Dựng / Bất động sản
            %ul
              %li
                %a{:href => "#"} Bất động sản
                %span (359)
              %li
                %a{:href => "#"} Kiến trúc
                %span (292)
              %li
                %a{:href => "#"} Xây dựng
                %span (634)
          %li
            %a{:href => "#"} Truyền thông
            %ul
              %li
                %a{:href => "#"} Báo chí/ Biên tập viên/ Xuất bản
                %span (219)
              %li
                %a{:href => "#"} Nghệ thuật/ Thiết kế/ Giải trí 
                %span (650)
              %li
                %a{:href => "#"} Viễn Thông
                %span (162)
          %li
            %a{:href => "#"} Theo Đối Tượng
            %ul
              %li
                %a{:href => "#"} Lao động phổ thông
                %span (43)
              %li
                %a{:href => "#"} Mới tốt nghiệp/ Thực tập
                %span (576)
              %li
                %a{:href => "#"} Người nước ngoài
                %span (19)
              %li
                %a{:href => "#"} Quản lý điều hành
                %span (1012)
          %li
            %a{:href => "#"} Khác
            %ul
              %li
                %a{:href => "#"} Khác
                %span (219)
    .contents.city
      .bg.clearfix
        %h3 Tìm việc theo địa điểm        
        %ul.search-city
          =partial(:looptp, :locals => {:format=>'list', :link=>true})
          
