---
trails:
  - links:
    title: "Careerlink"
    link: "#"
  - links:
    title: "Trang tao ho so tung buoc"
    link: "#"
---
- content_for :head do
  %title Career Link - Search
#search-center.details.create-resume
  .container
    = partial(:breadcrumb)
    %h2 Tạo hồ sơ từng bước
    .contents
      .bg.clearfix
        %br.clearfix/
        .jslider{:current => "6", :total => "6"}
          .filler
            .tooltip
              %span
                %span Buoc 6/6
            %span.indicator
        %div.instruction
          Tiêu đề thật ứng tượng là bước đầu tiên để hồ sơ của bạn lọt vào tầm ngắm của Nhà Tuyển Dụng.Bạn hãy kiểm tra thật cẩn thận các thông tin cá nhân, thông tin liên lạc.. xem đã chính xác chưa nhé, vì đây là các thông tin cần thiết để Nhà Tuyển Dụng dễ dàng liên hệ với bạn.

          %p.not-input
            Những mục có dấu sao
            %span *
            là bắt buộc.
        / .danghoso
        .danghoso
          %form{:action => "#"}
            %h4.tit2 
              Tiêu đề đơn xin việc
              %a{:href => "#"} [Sửa]
            %p
              %span Tiêu đề đơn xin việc:
              %label
                Xin việc kinh doanh
            %h4.tit 
              Thông tin cá nhân
              %a{:href => "#"} [Sửa]
            %p
              %span Họ tên:
              %label
                Hoàng Thị Kiều Phương
            %p
              %span Giới tính:
              %label
                Nữ
            %p
              %span Ngày sinh:
              %label
                02-09-1988
            %p
              %span Tình trạng hôn nhân:
              %label
                Độc thân
            %p
              %span Quốc tịch:
              %label
                Việt Nam
            %h4.tit 
              Thông tin liên hệ 
              %a{:href => "#"} [Sửa]
            %p
              %span Địa chỉ
              %label
                114/4/9 Tam Vu, Phường Hưng Lợi, Quận Ninh Kiều, TP.CT
            %p
              %span
                Địa chỉ Email                  
              %label
                htk.phuong@vietprotocol.com
            %h4.tit 
              Học vấn - Ngoại ngữ
              %a{:href => "#"} [Sửa]
            %p
              %table.ungvien
                %tr
                  %td.time{:width => "30%", :valign => "top"}
                    
                    9/2006 - 6/2010
                  %td
                    %span.titb
                      ĐH Đà Lạt
                    %span.nganhhoc
                      Ngôn ngữ (Tiếng Anh)
                    %ul
                      %li Cử nhân
                      %li Viet Nam
                      %li + Bằng cấp: B.A
                      %li + Chuyên ngành: Tiếng Anh (English Foreign Language Studies)
                  %tr
                  %td.time{:width => "30%", :valign => "top"}
                    
                    9/2006 - 6/2010
                  %td
                    %span.titb
                      Trung tâm An Tiến Informatics
                    %span.nganhhoc
                      Chứng chỉ tin học
                    %ul
                      %li Cử nhân
                      %li Viet Nam
                      %li + Bằng cấp: B.A
                      %li + Chuyên ngành: Tiếng Anh (English Foreign Language Studies)
                %tr
                  %td.ngoaingu{:width => "30%", :valign => "top"}
                    Ngoại ngữ
                  %td
                    %ul
                      %li Tiếng Anh - Thành thạo
                      %li Tiếng Trung Quốc - Sơ cấp
            %h4.tit 
              Kinh nghiệm làm việc
              %a{:href => "#"} [Sửa]
            %p
              %table.ungvien
                %tr
                  %td.ngoaingu{:width => "30%", :valign => "top"}
                    Số năm Kinh nghiệm
                  %td
                    02 năm
                %tr
                  %td.time{:width => "30%", :valign => "top"}
                    
                    9/2006 - 6/2010
                  %td
                    %span.titb
                      Công ty Anh ngữ Quốc Tế Mỹ - International American
                    %span.nganhhoc
                      Nhân viên tư vấn đào tạo - Giáo viên tiếng Anh
                    %ul
                      %li Giáo dục/ Đào tạo/ Thư viện
                      %li Đồng Nai - Viet Nam
                    %p
                      Tôi cùng lúc đảm nhận vị trí nhân viên tư vấn đào tạo và giáo viên tiếng Anh. Với tôi, đây là cơ hội đáng quý vì được làm việc trong một môi trường trẻ trung, năng động, sáng tạo và đúng sở trường của bản thân.
                      Nhiệm vụ chính
                    %ul
                      %li - Tư vấn khách hàng
                      %li - Marketing, giới thiệu các chương trình và khóa học
                      %li - Hỗ trợ học viên đăng kí ghi danh và nhập học.
                      %li - Quản lý khối lớp và hồ sơ học viên.
                      %li - Giảng dạy các lớp tiếng Anh.
                      %li - Tham gia lập kế hoạch, tổ chức các chuyến tham quan, dã ngoại, các hoạt động ngoại khóa và lễ hội cho học viên.
                      %li - Công việc văn phòng: liên hệ khách hàng, nhập liệu và lưu trữ thông tin khách hàng, soạn thảo văn bản, báo cáo, in ấn, ...
                  %tr
                  %td.time{:width => "30%", :valign => "top"}
                   
                    9/2006 - 6/2010
                  %td
                    %span.titb
                      Ana Mandara Villas & Spa at Dalat
                    %span.nganhhoc
                      Operator - Tổng đài viên
                    %ul
                      %li Khách sạn/ Du lịch
                      %li Lâm Đồng - Viet Nam
                    %p
                      Thông qua công việc này, tôi có cơ hội trải nghiệm thực tế, tích lũy kinh nghiệm khi làm việc trong môi trường áp lực cao, hoàn thiện hơn khả năng chuyên môn cũng như xây dựng tác phong trong công việc.
                      *Nhiệm vụ chính:
                    %ul
                      %li - Nghe nhận điện thoại của khách hàng và các bộ phận.
                      %li - Kết nối điện thoại.
                      %li - Kiểm soát thông tin, kịp thời chuyển thông tin cho các bộ phận liên quan.
                      %li - Hỗ trợ lễ tân, tiếp đón, phục vụ khách hàng.
                      %li - Giải thích, trả lời thắc mắc của khách hàng.
                      %li - In ấn, nhập liệu và lưu trữ thông tin khách hàng..
                      %li - Công việc văn phòng: liên hệ khách hàng, nhập liệu và lưu trữ thông tin khách hàng, soạn thảo văn bản, báo cáo, in ấn, ...
            %h4.tit 
              Kỹ năng
              %a{:href => "#"} [Sửa]
            %p
              %ul.kynang.clearfix
                %li
                  Kỹ năng vi tính văn phòng - Microsoft Word
                  %span
                    Cao cấp - 4 năm
                %li
                  Kỹ năng giao tiếp - E-mail
                  %span
                    Trung cấp - 4 năm
                %li
                  Kỹ năng bán hàng - Trình bày 
                  %span
                    Trung cấp - 3 năm
                %li
                  Kỹ năng khác - Làm việc độc lập
                  %span
                    Cao cấp - 4 năm 
            %h4.tit 
              Mục tiêu nghề nghiệp
              %a{:href => "#"} [Sửa]
            %p
              %span Vị trí mong muốn:
              %label
                Nhân viên kỹ thuật, lập trình viên
            %p
              %span Mức lương gần đây nhất:
              %label
                5.000.000 VNĐ
            %p
              %span Lương mong muốn:
              %label
                8.000.000 VNĐ
            %p
              %span Cấp bậc mong muốn:
              %label
                Nhân viên
            %p
              %span Loại công việc:
              %label
                Toàn thời gian cố định
            %p
              %span Ngành nghề mong muốn:
              %label
                Công nghệ thông tin
            %ul.taohoso-button.clearfix
              %li.luutam
                %a{:href => "#"} Đăng hồ sơ này
              %li.buocketiep
                %a.current{:href => "#"} Lưu tạm
        / /.danghoso
        / ==========================
