---
trails:
  - links:
    title: "Careerlink"
    link: "#"
  - links:
    title: "Ket qua tim kiem"
    link: "#"
---
- content_for :head do
  %title Career Link - Search
#profiles.details
  .container
    = partial(:breadcrumb)
    %h2 Viec lam cua toi
    .thongtinkhac
      .social
        %img{:alt => "Social", :height => "22", :src => "images/social.png", :width => "352"}
    .contents
      .bg.clearfix
        #left
          .box.type1
            %h3 Tủ hồ sơ
            %table.view-rutgon
              %tbody
                %tr.header
                  %th{:width => "10%"}
                    Sửa
                  %th.t-l{:width => "25%"} Tiêu đề hồ sơ
                  %th{:width => "15%"} Ngày sửa đổi                  
                  %th{:width => "12%"} Cho phép tìm kiếm
                  %th{:width => "20%"} Được xem bởi nhà tuyển dụng
                  %th{:width => "12%"} Trang thái hồ sơ
                  %th{:width => "6%"}
                    %input.check_all{:type => "checkbox", :value => ""}/
                %tr.odd
                  %td
                    %a{:href => "#"}
                      Sửa
                  %td.t-l
                    %a.title{:href => "#"}
                      Web Design
                  %td 21-2-2012
                  %td
                    %span.kh
                      Không cho phép tìm kiếm                  
                  %td
                    %span.lx
                      50
                  %td
                    %span.tths
                      Kích hoạt
                  %td{:align => "center"}
                    %input{:type => "checkbox"}                  
                %tr.even
                  %td
                    %a{:href => "#"}
                      Sửa
                  %td.t-l
                    %a.title{:href => "#"}
                      Web Design
                  %td 21-2-2012
                  %td
                    %span.kh
                      Không cho phép tìm kiếm                  
                  %td
                    %span.lx
                      50
                  %td
                    %span.tths
                      Kích hoạt
                  %td{:align => "center"}
                    %input{:type => "checkbox"}   
            .new-resume.clearfix
              %a.new-resume-button{:href => "#"} Xóa
              %a.new-resume-button{:href => "#"} Chọn cho phép tìm kiếm
              %a.new-resume-button{:href => "#"} Chọn không cho phép tìm kiếm
              
              %a.new-resume-button{:href => "#"} Tạo hồ sơ mới
              
          .box.type1
            / =======================
            / = Noi dung box type 2 =
            %h3 Thư xin việc
            %table.view-rutgon
              %tbody
                %tr.header
                  %th{:width => "10%"} 
                    Sửa
                  %th.t-l{:width => "60%"}  Tiêu đề 
                  %th{:width => "24%"}  Ngày sửa đổi
                  %th{:width => "6%"}
                    %input.check_all{:type => "checkbox", :value => ""}/
                %tr.odd
                  %td
                    %a{:href => "#"}
                      Sửa
                  %td.t-l
                    %a.title{:href => "#"}
                      Web Design
                  %td 21-2-2012
                  %td{:align => "center"}
                    %input{:type => "checkbox"}
                %tr.even
                  %td
                    %a{:href => "#"}
                      Sửa
                  %td.t-l
                    %a.title{:href => "#"}
                      Web Design
                  %td 21-2-2012
                  %td{:align => "center"}
                    %input{:type => "checkbox"}
                %tr.odd
                  %td
                    %a{:href => "#"}
                      Sửa
                  %td.t-l
                    %a.title{:href => "#"}
                      Web Design
                  %td 21-2-2012
                  %td{:align => "center"}
                    %input{:type => "checkbox"}
            .new-resume.clearfix
              %a.new-resume-button{:href => "#"} Xóa
              %a.new-resume-button{:href => "#"} Tạo thư xin việc mới
            / =======================
          .box.type2
            %h3 Các công việc của tôi
            %div.tkct.clearfix
              %li
                %a{:href => "#"} Công việc đã ứng tuyển
              %li
                %a{:href => "#"} Công việc đã lưu

          / ===End luu tim - thong baoviec lam==================================
          / ==================================
          / = Noi dung cac cong viec cua toi =
          .box.type2
            %h3 Lưu tìm kiếm việc làm/ Thông báo việc làm
            %h4
              %a{:href => "#"} Xem thêm
            %table.view-rutgon
              %tbody
                %tr.header
                  %th{:width => "12%"}
                  %th{:width => "5%"}
                  %th.t-l{:width => "28%"} Tên tìm kiếm
                  %th.t-l{ :width => "35%"} Việc làm mới nhất
                  %th{:width => "14%"} Tổng số
                  %th{:width => "6%"} 
                    %input#check_all3{:type => "checkbox", :value => ""}/
                %tr.odd
                  %td{:align => "center"}
                    %a.tk{:href => "#"} Tìm kiếm 
                  %td{:align => "center"}
                    %a.edit{:href => "#"}
                      Edit
                  %td.t-l
                    %a{:href => "#"} aa (1,748)
                  %td.t-l 
                    %a{:href => "#"} Viet Thai International - 4D BU
                  %td 
                    5678
                  %td{:align => "center"}
                    %input{:type => "checkbox"}
                %tr.even
                  %td{:align => "center"}
                    %a.tk{:href => "#"} Tìm kiếm
                  %td{:align => "center"}
                    %a.edit{:href => "#"}
                      Edit
                  %td.t-l
                    %a{:href => "#"} aa (1,748)
                  %td.t-l 
                    %a{:href => "#"} Viet Thai International - 4D BU
                  %td 
                    5678
                  %td{:align => "center"}
                    %input{:type => "checkbox"}
                %tr.odd
                  %td{:align => "center"}
                    %a.tk{:href => "#"} Tìm kiếm
                  %td{:align => "center"}
                    %a.edit{:href => "#"}
                      Edit
                  %td.t-l
                    %a{:href => "#"} aa (1,748)
                  %td.t-l 
                    %a{:href => "#"} Viet Thai International - 4D BU
                  %td 
                    5678
                  %td{:align => "center"}
                    %input{:type => "checkbox"}
                %tr.even
                  %td{:align => "center"}
                    %a.tk{:href => "#"} Tìm kiếm
                  %td{:align => "center"}
                    %a.edit{:href => "#"}
                      Edit
                  %td.t-l
                    %a{:href => "#"} aa (1,748)
                  %td.t-l 
                    %a{:href => "#"} Viet Thai International - 4D BU
                  %td 
                    5678
                  %td{:align => "center"}
                    %input{:type => "checkbox"}
            .new-resume.clearfix
              %a.new-resume-button{:href => "#"} Xóa
              %a.new-resume-button{:href => "#"} Tạo thông báo mới 
          / = Luu tim kiem - thong bao viec lam =
          .box.type2
            %h3 Tài khoản của tôi
            .new-alert.tkct.clearfix
              %li
                %a{:href => "#"} Xem tài khoản
              %li
                %a{:href => "#"} Thay đổi thông tin tài khoản
              %li
                %a{:href => "#"}Thay đổi tên đăng nhập
              %li
                %a{:href => "#"}Thay đổi mật khẩu
              %li
                %a{:href => "#"}Thoát 
          / ==================================
          / = Noi dung cac cong viec cua toi =
          
        #right
          / ===================
          / = Logininfomation =
          .login-info
            %img{:alt => "User Demo", :height => "108", :src => "images/user-demo.png", :width => "84"}
              %span.name Lu Hoang ThanhThuy
              %span.edit 
                %a{:href => "#"} Chỉnh sửa tài khoản
              %span.logout 
                %a{:href => "#"} Đăng xuất
              %span.login-time Đăng ký: 24/07/2009
              %span.lastlogin Đăng nhập lần cuối: 07/03/2012
              %span.lastedit Chỉnh sửa lần cuối: 04/03/2012
          / ==end Login infomation=================
          / = Hoanthanhhoso =
          .progess-job
            .jslider{:current => "80", :total => "100"}
              .filler     
            .ttip
              Hoàn thành hồ sơ <span>80%</span>        
            %p
              %a{:href => "#"} Upload CV để hoàn thành hồ sơ nhanh chóng. 
          / = Nha tuyen dung xem ho so =
          .app-job.ntd-view.demo2
            %h3.demo1 Nhà tuyển dụng xem hồ sơ
            %p
              Có
              %span 30
              nhà tuyển dụng xem hồ sơ của bạn
          / ===================
          / = Vieclam phu hop =
          .app-job
            %h3 Việc làm phù hợp
            %ul.app-job-list
              %li
                %a{:href => "#"} Senior ASP.NET Web Developer
                %span Biziwave Vietnam - TP. Ho Chi Minh
              %li
                %a{:href => "#"} Senior Perl Developer
                %span ELISOFT - TP. Ho Chi Minh
              %li
                %a{:href => "#"} Senior Perl Developer
                %span ELISOFT - TP. Ho Chi Minh
              %li
                %a{:href => "#"} Senior ASP.NET Web Developer
                %span Biziwave Vietnam - TP. Ho Chi Minh
              %li
                %a{:href => "#"} Senior Perl Developer
                %span ELISOFT - TP. Ho Chi Minh
              %li
                %a{:href => "#"} Senior Perl Developer
                %span ELISOFT - TP. Ho Chi Minh
          / ===================
          / = Cam nang gneh nghiep =
          .career-advice
            %h3 Cẩm nang tìm việc
            %ul.advice-list
              %li.clearfix
                %img{:alt => "Camnang Img List", :height => "51", :src => "images/camnang-img-list.png", :width => "51"}
                  %a{:href => "#"} Năm mới, tự tin khởi đầu thành công mới.
              %li.clearfix
                %img{:alt => "Camnang Img List", :height => "51", :src => "images/camnang-img-list.png", :width => "51"}
                  %a{:href => "#"} Senior ASP.NET Web Developer
              %li.clearfix
                %img{:alt => "Camnang Img List", :height => "51", :src => "images/camnang-img-list.png", :width => "51"}
                  %a{:href => "#"} Senior ASP.NET Web Developer
              %li.clearfix
                %img{:alt => "Camnang Img List", :height => "51", :src => "images/camnang-img-list.png", :width => "51"}
                  %a{:href => "#"} Năm mới, tự tin khởi đầu thành công mới.
          / ===================
      #right
